{
  "openapi": "3.0.2",
  "info": {
    "title": "Data API",
    "description": "Power your NFT products with Gallop\u2019s queryable collection, token, trait and wallet APIs.",
    "termsOfService": "https://higallop.com/terms/",
    "contact": {
      "email": "support@higallop.com"
    },
    "license": {
      "name": "UNLICENSED"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.prod.gallop.run/v1"
    }
  ],
  "paths": {
    "/data/eth/getCollectionOwners": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Wallet Owners by Collection",
        "description": "Returns all wallet owners for a given collection",
        "operationId": "getEthCollectionOwners",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of the collection.",
                    "example": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 10,
                    "total_pages": 1,
                    "page": 1,
                    "collection_address": "0x4f8730e0b32b04beaa5757e5aea3aef970e5b613",
                    "collection_name": "Bloot",
                    "owners": [
                      {
                        "token_id": "1",
                        "wallet_address": "0x580a96bc816c2324bdff5eb2a7e159ae7ee63022"
                      },
                      {
                        "token_id": "2",
                        "wallet_address": "0x88db9217b2ea48c2b2446f42fcc9f541077d720b"
                      },
                      {
                        "token_id": "3",
                        "wallet_address": "0x88db9217b2ea48c2b2446f42fcc9f541077d720b"
                      },
                      {
                        "token_id": "4",
                        "wallet_address": "0x56879cc88fa3895c082c22035db1386dcac53bba"
                      },
                      {
                        "token_id": "5",
                        "wallet_address": "0x56879cc88fa3895c082c22035db1386dcac53bba"
                      },
                      {
                        "token_id": "6",
                        "wallet_address": "0xfb4eb570807e0e275b3e1dd14f1074a0e1cd5a2a"
                      },
                      {
                        "token_id": "7",
                        "wallet_address": "0x56879cc88fa3895c082c22035db1386dcac53bba"
                      },
                      {
                        "token_id": "8",
                        "wallet_address": "0x56879cc88fa3895c082c22035db1386dcac53bba"
                      },
                      {
                        "token_id": "9",
                        "wallet_address": "0x182a36ad47ea21d96d864080b7baceda7ce44019"
                      },
                      {
                        "token_id": "10",
                        "wallet_address": "0x792a623d269e6c5815d8a715d563985791353ae7"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns all wallet owners for a given collection",
                      "properties": {
                        "owners": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "token_id": {
                                "type": "string",
                                "description": "The token identifier"
                              },
                              "wallet_address": {
                                "type": "string",
                                "description": "The unique wallet address"
                              }
                            }
                          }
                        },
                        "collection_address": {
                          "type": "string",
                          "description": "The unique address allocated for the collection"
                        },
                        "collection_name": {
                          "type": "string",
                          "description": "The name of the collection"
                        },
                        "total_items": {
                          "type": "number",
                          "description": "The total number of items that can be retrieved"
                        },
                        "total_pages": {
                          "type": "number",
                          "description": "The total number of pages that can be queried"
                        },
                        "page": {
                          "type": "number",
                          "description": "The current reported page"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getCollectionTransactions": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Transactions by Collection",
        "description": "Returns all transactions for a given collection",
        "operationId": "getEthCollectionTransactions",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of the collection.",
                    "example": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  },
                  "start_block_number": {
                    "type": "integer",
                    "description": "The oldest block number to return.",
                    "example": 100
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The earliest block timestamp in ISO 8601 format.",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The latest block timestamp in ISO 8601 format.",
                    "example": "2023-01-01T00:00:00.000Z"
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 10,
                    "total_pages": 1,
                    "page": 1,
                    "collection_address": "0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d",
                    "collection_name": "0N1 Force",
                    "transactions": [
                      {
                        "token_id": "3031",
                        "from_address": "0x0f08393a84a1ed49567accac1e5dd254096a09ce",
                        "to_address": "0xcbcc922ec77314d44b0be1a40e80a9b3ccf1fa6a",
                        "eth_value": 0.3,
                        "usd_value": 472.44,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15194253,
                        "block_timestamp": "2022-07-22T19:15:27.000Z",
                        "txn_hash": "0x6af8a8f4c067ff0fc44c0720a48fa5c903495de41e408e00bdb2358c4ce379fa",
                        "token_amount": 1
                      },
                      {
                        "token_id": "3670",
                        "from_address": "0xf9d57e1402676e7074048a470632c624801e629d",
                        "to_address": "0x481775a1a694c31da312cd1b166e353151fe0579",
                        "eth_value": 0.547,
                        "usd_value": 859.56,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15194146,
                        "block_timestamp": "2022-07-22T18:52:47.000Z",
                        "txn_hash": "0x1355e52a87474a0b52892b11620affcfb2186a320c1f51e208d0b081f84b86b3",
                        "token_amount": 1
                      },
                      {
                        "token_id": "5340",
                        "from_address": "0xb16b295c3e174e650660e74b5ec4abe44c29849b",
                        "to_address": "0x7fbbfd78ecd145a3312396ee97a8ed36346669d5",
                        "eth_value": 0.299,
                        "usd_value": 477.11,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15190891,
                        "block_timestamp": "2022-07-22T06:57:19.000Z",
                        "txn_hash": "0xcb1bf0d5928c4ad7d6a8b5d53fc1315cd4aaf3e09892d32c8c51915eab9c1c5c",
                        "token_amount": 1
                      },
                      {
                        "token_id": "6592",
                        "from_address": "0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8",
                        "to_address": "0x38daea6f17e4308b0da9647db9ca6d84a3a7e195",
                        "eth_value": 0.28,
                        "usd_value": 446.77,
                        "exchange": "Opensea (through GemSwap - Seaport)",
                        "block_number": 15190871,
                        "block_timestamp": "2022-07-22T06:51:58.000Z",
                        "txn_hash": "0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040",
                        "token_amount": 1
                      },
                      {
                        "token_id": "1391",
                        "from_address": "0x470af085d49c645e14a3c38b19b14af503b06ca6",
                        "to_address": "0x38daea6f17e4308b0da9647db9ca6d84a3a7e195",
                        "eth_value": 0.28,
                        "usd_value": 446.77,
                        "exchange": "X2Y2 (through GemSwap)",
                        "block_number": 15190871,
                        "block_timestamp": "2022-07-22T06:51:58.000Z",
                        "txn_hash": "0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040",
                        "token_amount": 1
                      },
                      {
                        "token_id": "2345",
                        "from_address": "0x73db901ff39f28d57da2c0c9b358dbe2dd929f13",
                        "to_address": "0x86c994904dd138bdc8462ac06edd919ad70fe575",
                        "eth_value": 0.27,
                        "usd_value": 426.77,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15189526,
                        "block_timestamp": "2022-07-22T01:43:28.000Z",
                        "txn_hash": "0x1c1dc2ce614668806cbb368e6065bb97354c24aa4e2184f91cac43e2e9c40b55",
                        "token_amount": 1
                      },
                      {
                        "token_id": "5720",
                        "from_address": "0x1dbf00bc3f40f551d79422a96367a6f58ae59412",
                        "to_address": "0x86c994904dd138bdc8462ac06edd919ad70fe575",
                        "eth_value": 0.269,
                        "usd_value": 425.19,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15189523,
                        "block_timestamp": "2022-07-22T01:43:03.000Z",
                        "txn_hash": "0x044c942d1941af19e53f72c451d4ed6650b634545fc9595f48fb7f040a29e3ba",
                        "token_amount": 1
                      },
                      {
                        "token_id": "6622",
                        "from_address": "0x62ed759378160d283ff9c01660b3f55ca1c33e77",
                        "to_address": "0x5078cc37be18868620f25869e3d76bfcb9305516",
                        "eth_value": 0.2727,
                        "usd_value": 430.58,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15189149,
                        "block_timestamp": "2022-07-22T00:15:27.000Z",
                        "txn_hash": "0x1dbc262def552ff38cbf0cff7dd321d5e9aaac4fb9341ea4940775d6f7bb6c12",
                        "token_amount": 1
                      },
                      {
                        "token_id": "5720",
                        "from_address": "0xbc52b1e8dab347c08130a722641e129bc5939ac5",
                        "to_address": "0x1dbf00bc3f40f551d79422a96367a6f58ae59412",
                        "eth_value": 0.23,
                        "usd_value": 362.1,
                        "exchange": "Opensea - Seaport (Advanced)",
                        "block_number": 15189130,
                        "block_timestamp": "2022-07-22T00:10:42.000Z",
                        "txn_hash": "0xbd1fdf60b855f3f65a70a31cb0e300cc83b4c42fc39070cc11c8c33e7dcfd01b",
                        "token_amount": 1
                      },
                      {
                        "token_id": "6592",
                        "from_address": "0x6188c2b2c93d100a6b8fdc89c2a2fcb91f5c6b3a",
                        "to_address": "0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8",
                        "eth_value": 0.2803,
                        "usd_value": 440.77,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15188831,
                        "block_timestamp": "2022-07-21T23:03:25.000Z",
                        "txn_hash": "0x7782406ecc8d0b127f05c33c7529bc96705059bb2001afd6fc4891c6fed83fa0",
                        "token_amount": 1
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns all transactions for a given collection",
                      "properties": {
                        "transactions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "token_id": {
                                "type": "string",
                                "description": "The token identifier"
                              },
                              "from_address": {
                                "type": "string",
                                "description": "The unique wallet address from which the token is tranferred"
                              },
                              "to_address": {
                                "type": "string",
                                "description": "The unique wallet address receiving the token"
                              },
                              "eth_value": {
                                "type": "number",
                                "description": "The equivalent ETH value"
                              },
                              "usd_value": {
                                "type": "number",
                                "description": "The equivalent USD value"
                              },
                              "exchange": {
                                "type": "string",
                                "description": "The marketplace traded and potential order contract details"
                              },
                              "block_number": {
                                "type": "number",
                                "description": "The block number on which the transaction occurred"
                              },
                              "block_timestamp": {
                                "type": "string",
                                "description": "The UTC timestamp at which the block was validated"
                              },
                              "txn_hash": {
                                "type": "string",
                                "description": "The transaction hash"
                              },
                              "token_amount": {
                                "type": "number",
                                "description": "The number of tokens that were transacted"
                              }
                            }
                          }
                        },
                        "total_items": {
                          "type": "number",
                          "description": "The total number of items that can be retrieved"
                        },
                        "total_pages": {
                          "type": "number",
                          "description": "The total number of pages that can be queried"
                        },
                        "page": {
                          "type": "number",
                          "description": "The current reported page"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getCollections": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Aggregated Collections Supported by Gallop",
        "description": "Returns all Gallop aggregated collections",
        "operationId": "getEthCollections",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  },
                  "collection_name": {
                    "type": "string",
                    "description": "The name of the collection searched.",
                    "example": "cryptopunks"
                  },
                  "traded": {
                    "type": "boolean",
                    "description": "Only return collections that have traded.",
                    "example": "true"
                  },
                  "created_after": {
                    "type": "string",
                    "description": "Only return collections recorded after this day [YYYY-MM-DD]",
                    "example": "2023-01-15"
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "created_at",
                      "collection_name"
                    ],
                    "description": "The value to sort by. Defaults to created_at",
                    "example": "created_at"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 55,
                    "total_pages": 5,
                    "page": 1,
                    "collections": [
                      {
                        "collection_name": "0N1 Force",
                        "symbol": "0N1",
                        "collection_address": "0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d"
                      },
                      {
                        "collection_name": "3Landers",
                        "symbol": "3L",
                        "collection_address": "0xb4d06d46a8285f4ec79fd294f78a881799d8ced9"
                      },
                      {
                        "collection_name": "Acclimated\u200bMoonCats",
                        "symbol": "\ud83d\ude3a",
                        "collection_address": "0xc3f733ca98e0dad0386979eb96fb1722a1a05e69"
                      },
                      {
                        "collection_name": "Adam Bomb Squad",
                        "symbol": "ABS",
                        "collection_address": "0x7ab2352b1d2e185560494d5e577f9d3c238b78c5"
                      },
                      {
                        "collection_name": "ALIENFRENS",
                        "symbol": "ALIENFRENS",
                        "collection_address": "0x123b30e25973fecd8354dd5f41cc45a3065ef88c"
                      },
                      {
                        "collection_name": "ALPACADABRAZ",
                        "symbol": "PACA",
                        "collection_address": "0x3db5463a9e2d04334192c6f2dd4b72def4751a61"
                      },
                      {
                        "collection_name": "Animetas",
                        "symbol": "ANMT",
                        "collection_address": "0x18df6c571f6fe9283b87f910e41dc5c8b77b7da5"
                      },
                      {
                        "collection_name": "Anonymice",
                        "symbol": "MICE",
                        "collection_address": "0xbad6186e92002e312078b5a1dafd5ddf63d3f731"
                      },
                      {
                        "collection_name": "apekidsclub",
                        "symbol": "AKC",
                        "collection_address": "0x9bf252f97891b907f002f2887eff9246e3054080"
                      },
                      {
                        "collection_name": "Art Blocks",
                        "symbol": "BLOCKS",
                        "collection_address": "0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270"
                      },
                      {
                        "collection_name": "ASMAIFAAllStarsBoxSet",
                        "symbol": "AIFABOX",
                        "collection_address": "0x26437d312fb36bdd7ac9f322a6d4ccfe0c4fa313"
                      },
                      {
                        "collection_name": "Autoglyphs",
                        "symbol": "\u2635",
                        "collection_address": "0xd4e4078ca3495de5b1d4db434bebc5a986197782"
                      },
                      {
                        "collection_name": "Azuki",
                        "symbol": "AZUKI",
                        "collection_address": "0xed5af388653567af2f388e6224dc7c4b3241c544"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns all Gallop aggregated collections",
                      "properties": {
                        "collections": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "collection_name": {
                                "type": "string",
                                "description": "The name of the collection"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "The ticker symbol of the collection"
                              },
                              "collection_address": {
                                "type": "string",
                                "description": "The unique address allocated for the collection"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "The time stamp at which Gallop picked up the collection"
                              }
                            }
                          }
                        },
                        "total_items": {
                          "type": "number",
                          "description": "The total number of items that can be retrieved"
                        },
                        "total_pages": {
                          "type": "number",
                          "description": "The total number of pages that can be queried"
                        },
                        "page": {
                          "type": "number",
                          "description": "The current reported page"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getEnsLookup": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "ENS Lookup",
        "description": "Returns Ethereum Name Service data for a given wallet address",
        "operationId": "getEthEnsLookup",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  },
                  "wallet_address": {
                    "type": "string",
                    "description": "The wallet address to query.",
                    "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name to query.",
                    "example": "gallop"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 3,
                    "total_pages": 1,
                    "page": 1,
                    "lookup": [
                      {
                        "ens_name": "cindygallop.eth",
                        "resolved_wallet_address": "0x03c609ad0c5f4d2b4b45329c879d01627ed044cf",
                        "ens_nft_owner": "0x03c609ad0c5f4d2b4b45329c879d01627ed044cf",
                        "ens_nft_token_id": "15517810867275400792454974873230676112786452149196343826542998772289206021344",
                        "on_chain_metadata": null
                      },
                      {
                        "ens_name": "cybergallops.eth",
                        "resolved_wallet_address": "0xba2948f1fa6d88dac687f1ca8292a80c97001c88",
                        "ens_nft_owner": "0xba2948f1fa6d88dac687f1ca8292a80c97001c88",
                        "ens_nft_token_id": "8916934475999199779246118723595166231735896975510756527098834487350471780471",
                        "on_chain_metadata": null
                      },
                      {
                        "ens_name": "gallop.eth",
                        "resolved_wallet_address": "0xe68e8cc7ff772b026c062b9cc28246676d044947",
                        "ens_nft_owner": "0x7c76b0b0b6a5144d48c7ae23f5d91712cb8354b4",
                        "ens_nft_token_id": "57055706468227773033118122077897942881246437083110876111525719177787586052276",
                        "on_chain_metadata": null
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns Ethereum Name Service data for a given wallet address",
                      "properties": {
                        "lookup": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ens_name": {
                                "type": "string",
                                "description": "The human readable name associated to the ENS token"
                              },
                              "resolved_wallet_address": {
                                "type": "string",
                                "description": "The wallet that the ENS points to"
                              },
                              "ens_nft_owner": {
                                "type": "string",
                                "description": "The wallet that owns the ENS token"
                              },
                              "ens_nft_token_id": {
                                "type": "string",
                                "description": "The NFT token identifier"
                              },
                              "on_chain_metadata": {
                                "type": "object",
                                "description": "Metadata for the ENS token",
                                "properties": {}
                              }
                            }
                          }
                        },
                        "total_items": {
                          "type": "number",
                          "description": "The total number of items that can be retrieved"
                        },
                        "total_pages": {
                          "type": "number",
                          "description": "The total number of pages that can be queried"
                        },
                        "page": {
                          "type": "number",
                          "description": "The current reported page"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getFloorPriceByTrait": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Collection Floor Price By Trait",
        "description": "Returns floor price by trait for a given collection",
        "operationId": "getEthFloorPriceByTrait",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of a collection.",
                    "example": "0x01cc1bd2dece86e54481f1e6aeffc2fcc6915480"
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "Head": {
                      "Headband": {
                        "floor_price": 5.98,
                        "token": {
                          "token_id": "6987",
                          "eth_value": 5.98,
                          "marketplace": "Blur",
                          "owner": "0xd1ea7cc78720c2311f756cc63c3e94faad69aaf3",
                          "listed_at": "2023-05-24T13:59:05.000Z",
                          "suspicious": false
                        }
                      },
                      "Flat Cap Blue": {
                        "floor_price": 5.94,
                        "token": {
                          "token_id": "8392",
                          "eth_value": 5.94,
                          "marketplace": "Blur",
                          "owner": "0xcfea8e38ad74ab181c20988166b8d74f8da22ef9",
                          "listed_at": "2023-05-24T11:23:49.000Z",
                          "suspicious": false
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns live floor price by trait",
                      "properties": {
                        "attributes": {
                          "type": "array",
                          "description": "Collection trait",
                          "items": {
                            "type": "array",
                            "description": "Trait values",
                            "items": {
                              "type": "object",
                              "properties": {
                                "floor_price_eth": {
                                  "type": "number",
                                  "description": "The ETH value of the floor price"
                                },
                                "item": {
                                  "type": "object",
                                  "description": "Token associated with the trait floor price",
                                  "properties": {
                                    "token_id": {
                                      "type": "string",
                                      "description": "The token identifier"
                                    },
                                    "eth_value": {
                                      "type": "number",
                                      "description": "The equivalent ETH value"
                                    },
                                    "marketplace": {
                                      "type": "string",
                                      "description": "The marketplace name where the event took place"
                                    },
                                    "suspicious": {
                                      "type": "boolean",
                                      "description": "Whether the marketplace has flagged the token listing as suspicious"
                                    },
                                    "listed_at": {
                                      "type": "string",
                                      "description": "The listing date"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getHistoricalEvents": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Marketplace Activity by Collection",
        "description": "Returns marketplace activity for a given collection",
        "operationId": "getEthHistoricalEvents",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of a collection. Leave empty for all collections",
                    "example": "0x3fe1a4c1481c8351e91b64d5c398b159de07cbc5"
                  },
                  "token_id": {
                    "type": "string",
                    "description": "The id for the token.",
                    "example": "2868"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  },
                  "event_date": {
                    "type": "string",
                    "description": "Only return events occuring after this day [YYYY-MM-DD]",
                    "example": "2023-01-15"
                  },
                  "event_type": {
                    "type": "string",
                    "enum": [
                      "list",
                      "transfer",
                      "offer",
                      "mint",
                      "sale",
                      "cancel_list",
                      "cancel_offer"
                    ],
                    "description": "The type of event: list, transfer, offer, mint, sale, cancel_list or cancel_offer",
                    "example": "sale"
                  },
                  "occurred_before": {
                    "type": "string",
                    "description": "Only show events listed before this ISO 8601 timestamp",
                    "example": "2022-08-19T16:46:49.129Z"
                  },
                  "occurred_after": {
                    "type": "string",
                    "description": "Only show events listed after this ISO 8601 timestamp",
                    "example": "2022-09-19T13:46:49.129Z"
                  },
                  "include_metadata": {
                    "type": "boolean",
                    "description": "Include token metadata in response",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "collection_address": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                    "total_items": 10,
                    "total_pages": 1,
                    "page": 1,
                    "events": [
                      {
                        "token_id": "22591",
                        "event_type": "transfer",
                        "from_address": "0x4d6283b4198c0039f2addc6a8784bbdef6e259eb",
                        "to_address": "0x330251b47edf5a5b2911451b9be840d0d03ae504",
                        "eth_value": null,
                        "event_date": "2023-02-27T13:00:35.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "452128763",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      },
                      {
                        "token_id": "22103",
                        "event_type": "transfer",
                        "from_address": "0x41758beb6011558ea86dfd68d5715a6e05f423ef",
                        "to_address": "0xc1c9a15ad507a1a9ca494f53768bff6b5181a8ba",
                        "eth_value": null,
                        "event_date": "2023-02-27T12:59:47.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "452127206",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      },
                      {
                        "token_id": "7456",
                        "event_type": "transfer",
                        "from_address": "0x41758beb6011558ea86dfd68d5715a6e05f423ef",
                        "to_address": "0xc1c9a15ad507a1a9ca494f53768bff6b5181a8ba",
                        "eth_value": null,
                        "event_date": "2023-02-27T12:58:59.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "452126203",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      },
                      {
                        "token_id": "26363",
                        "event_type": "transfer",
                        "from_address": "0xfa4d5258804d7723eb6a934c11b1bd423bc31623",
                        "to_address": "0xedce6a7105cb3d298e356b416cafd5cea4a433ff",
                        "eth_value": null,
                        "event_date": "2023-02-17T17:26:35.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "435794451",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      },
                      {
                        "token_id": "16444",
                        "event_type": "transfer",
                        "from_address": "0xbd1240f9376ef32eb8e744d049163fe614f55166",
                        "to_address": "0xf7e11960b6f84b3ea798f15fa8627a3bcffbefa2",
                        "eth_value": null,
                        "event_date": "2023-02-17T17:20:23.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "435784638",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      },
                      {
                        "token_id": "7122",
                        "event_type": "transfer",
                        "from_address": "0x7df70b612040c682d1cb2e32017446e230fcd747",
                        "to_address": "0xa9ad0a458e081c2d042ce806ac7ea7cdca824dc2",
                        "eth_value": null,
                        "event_date": "2023-02-17T17:11:59.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "435771023",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      },
                      {
                        "token_id": "7534",
                        "event_type": "transfer",
                        "from_address": "0x409f37a9d4cbd541f93ad8b9f10e8ac6706a34ce",
                        "to_address": "0x4363e7e54f81a8cb39dd556c66ca41e603732e91",
                        "eth_value": null,
                        "event_date": "2023-02-17T16:47:47.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "435729489",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      },
                      {
                        "token_id": "15663",
                        "event_type": "transfer",
                        "from_address": "0x24a39cfc33d0d5e473ca2af2ccdce2af60f15af1",
                        "to_address": "0xd2e46bcd3c16065fa6d3c291a23635f7322fe1be",
                        "eth_value": null,
                        "event_date": "2023-02-17T16:43:47.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "435722917",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      },
                      {
                        "token_id": "15789",
                        "event_type": "transfer",
                        "from_address": "0x24a39cfc33d0d5e473ca2af2ccdce2af60f15af1",
                        "to_address": "0x6f435a9421653b27f048957b8ba2092d65a711f9",
                        "eth_value": null,
                        "event_date": "2023-02-17T16:41:59.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "435719742",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      },
                      {
                        "token_id": "4180",
                        "event_type": "transfer",
                        "from_address": "0xfa88dd019d4bcb8ba2ef8ce63e64d48e727b0b33",
                        "to_address": "0x4bc8f720537b2a9dafad4c2ca9be9099c4ef0986",
                        "eth_value": null,
                        "event_date": "2023-02-17T16:40:23.000Z",
                        "start_date": null,
                        "end_date": null,
                        "event_id": "435717356",
                        "collection_id": "0x764aeebcf425d56800ef2c84f2578689415a2daa",
                        "marketplace": "LooksRare",
                        "token_amount": 1
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns marketplace activity for a given collection",
                      "properties": {
                        "events": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "token_id": {
                                "type": "string",
                                "description": "The token identifier"
                              },
                              "event_type": {
                                "type": "string",
                                "description": "The event type"
                              },
                              "from_address": {
                                "type": "string",
                                "description": "The unique wallet address from which the token is tranferred"
                              },
                              "to_address": {
                                "type": "string",
                                "description": "The unique wallet address receiving the token"
                              },
                              "eth_value": {
                                "type": "number",
                                "description": "The equivalent ETH value"
                              },
                              "event_date": {
                                "type": "string",
                                "description": "The date at which the event occurred"
                              },
                              "start_date": {
                                "type": "string",
                                "description": "The start date"
                              },
                              "end_date": {
                                "type": "string",
                                "description": "The end date"
                              },
                              "event_id": {
                                "type": "string",
                                "description": "A unique event identifier"
                              },
                              "collection_id": {
                                "type": "string",
                                "description": "The marketplace specific collection identifier"
                              },
                              "marketplace": {
                                "type": "string",
                                "description": "The marketplace name where the event took place"
                              }
                            }
                          }
                        },
                        "collection_address": {
                          "type": "string",
                          "description": "The unique address allocated for the collection"
                        },
                        "total_items": {
                          "type": "number",
                          "description": "The total number of items that can be retrieved"
                        },
                        "total_pages": {
                          "type": "number",
                          "description": "The total number of pages that can be queried"
                        },
                        "page": {
                          "type": "number",
                          "description": "The current reported page"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getHistoricalTransactions": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Historical Transactions by Collection",
        "description": "Returns all transactions for a given collection in bulk",
        "operationId": "getEthHistoricalTransactions",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of the collection.",
                    "example": "0x3f5fb35468e9834a43dca1c160c69eaae78b6360"
                  },
                  "token_id": {
                    "type": "string",
                    "description": "The id for the token."
                  },
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 10,
                    "total_pages": 1,
                    "page": 1,
                    "collection_address": "0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d",
                    "collection_name": "0N1 Force",
                    "token_id": [
                      "3031",
                      "3670",
                      "5340",
                      "6592",
                      "1391",
                      "2345",
                      "5720",
                      "6622",
                      "5720",
                      "6592"
                    ],
                    "from_address": [
                      "0x0f08393a84a1ed49567accac1e5dd254096a09ce",
                      "0xf9d57e1402676e7074048a470632c624801e629d",
                      "0xb16b295c3e174e650660e74b5ec4abe44c29849b",
                      "0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8",
                      "0x470af085d49c645e14a3c38b19b14af503b06ca6",
                      "0x73db901ff39f28d57da2c0c9b358dbe2dd929f13",
                      "0x1dbf00bc3f40f551d79422a96367a6f58ae59412",
                      "0x62ed759378160d283ff9c01660b3f55ca1c33e77",
                      "0xbc52b1e8dab347c08130a722641e129bc5939ac5",
                      "0x6188c2b2c93d100a6b8fdc89c2a2fcb91f5c6b3a"
                    ],
                    "to_address": [
                      "0xcbcc922ec77314d44b0be1a40e80a9b3ccf1fa6a",
                      "0x481775a1a694c31da312cd1b166e353151fe0579",
                      "0x7fbbfd78ecd145a3312396ee97a8ed36346669d5",
                      "0x38daea6f17e4308b0da9647db9ca6d84a3a7e195",
                      "0x38daea6f17e4308b0da9647db9ca6d84a3a7e195",
                      "0x86c994904dd138bdc8462ac06edd919ad70fe575",
                      "0x86c994904dd138bdc8462ac06edd919ad70fe575",
                      "0x5078cc37be18868620f25869e3d76bfcb9305516",
                      "0x1dbf00bc3f40f551d79422a96367a6f58ae59412",
                      "0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8"
                    ],
                    "eth_value": [
                      0.3,
                      0.547,
                      0.299,
                      0.28,
                      0.28,
                      0.27,
                      0.269,
                      0.2727,
                      0.23,
                      0.2803
                    ],
                    "usd_value": [
                      472.44,
                      859.56,
                      477.11,
                      446.77,
                      446.77,
                      426.77,
                      425.19,
                      430.58,
                      362.1,
                      440.77
                    ],
                    "exchange": [
                      "Opensea - Seaport",
                      "Opensea - Seaport",
                      "Opensea - Seaport",
                      "Opensea (through GemSwap - Seaport)",
                      "X2Y2 (through GemSwap)",
                      "Opensea - Seaport",
                      "Opensea - Seaport",
                      "Opensea - Seaport",
                      "Opensea - Seaport (Advanced)",
                      "Opensea - Seaport"
                    ],
                    "block_number": [
                      15194253,
                      15194146,
                      15190891,
                      15190871,
                      15190871,
                      15189526,
                      15189523,
                      15189149,
                      15189130,
                      15188831
                    ],
                    "block_timestamp": [
                      "2022-07-22T19:15:27.000Z",
                      "2022-07-22T18:52:47.000Z",
                      "2022-07-22T06:57:19.000Z",
                      "2022-07-22T06:51:58.000Z",
                      "2022-07-22T06:51:58.000Z",
                      "2022-07-22T01:43:28.000Z",
                      "2022-07-22T01:43:03.000Z",
                      "2022-07-22T00:15:27.000Z",
                      "2022-07-22T00:10:42.000Z",
                      "2022-07-21T23:03:25.000Z"
                    ],
                    "txn_hash": [
                      "0x6af8a8f4c067ff0fc44c0720a48fa5c903495de41e408e00bdb2358c4ce379fa",
                      "0x1355e52a87474a0b52892b11620affcfb2186a320c1f51e208d0b081f84b86b3",
                      "0xcb1bf0d5928c4ad7d6a8b5d53fc1315cd4aaf3e09892d32c8c51915eab9c1c5c",
                      "0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040",
                      "0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040",
                      "0x1c1dc2ce614668806cbb368e6065bb97354c24aa4e2184f91cac43e2e9c40b55",
                      "0x044c942d1941af19e53f72c451d4ed6650b634545fc9595f48fb7f040a29e3ba",
                      "0x1dbc262def552ff38cbf0cff7dd321d5e9aaac4fb9341ea4940775d6f7bb6c12",
                      "0xbd1fdf60b855f3f65a70a31cb0e300cc83b4c42fc39070cc11c8c33e7dcfd01b",
                      "0x7782406ecc8d0b127f05c33c7529bc96705059bb2001afd6fc4891c6fed83fa0"
                    ],
                    "token_amount": [
                      1,
                      1,
                      1,
                      1,
                      1,
                      1,
                      1,
                      1,
                      1,
                      1
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Object of arrays ordered in descending transaction date",
                      "properties": {
                        "token_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "A unique token identifier"
                        },
                        "from_address": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "A unique wallet address from which the corresponding token was tranferred"
                        },
                        "to_address": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "A unique wallet address receiving the corresponding token"
                        },
                        "eth_value": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "description": "The equivalent ETH value for each transaction"
                        },
                        "usd_value": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "description": "The equivalent USD value"
                        },
                        "exchange": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The marketplace where a transaction occurred"
                        },
                        "block_number": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "description": "The block number on which a transaction occurred"
                        },
                        "block_timestamp": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The UTC timestamp at which a block was validated"
                        },
                        "collection_address": {
                          "type": "string",
                          "description": "The unique address allocated for the collection"
                        },
                        "collection_name": {
                          "type": "string",
                          "description": "The name of the collection"
                        },
                        "total_items": {
                          "type": "number",
                          "description": "The total number of items that can be retrieved"
                        },
                        "total_pages": {
                          "type": "number",
                          "description": "The total number of pages that can be queried"
                        },
                        "page": {
                          "type": "number",
                          "description": "The current reported page"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getLiveListings": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Collection Live Listings by Marketplace",
        "description": "Returns live listings for a given collection by marketplace",
        "operationId": "getEthLiveListings",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of a collection.",
                    "example": "0x01cc1bd2dece86e54481f1e6aeffc2fcc6915480"
                  },
                  "include_metadata": {
                    "type": "boolean",
                    "description": "Include token metadata in response",
                    "example": true
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "collection_address": "0x60e4d786628fea6478f785a6d7e704777c86a7c6",
                    "total_listings": 2,
                    "listings": [
                      {
                        "token_id": "4244",
                        "eth_value": 15.29,
                        "marketplace_name": "Blur",
                        "owner": "0x5e1416e0ec35b47a6b7687c5e783e9b98a83dd45",
                        "listed_at": "2023-03-06T10:46:57.000Z",
                        "suspicious": true
                      },
                      {
                        "token_id": "6365",
                        "eth_value": 15.319,
                        "marketplace_name": "Blur",
                        "owner": "0x77e3e957082ca648c1c5b0f3e6aec00ab1245186",
                        "listed_at": "2023-03-06T18:28:37.000Z",
                        "suspicious": true
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns live listings for a given collection by marketplace",
                      "properties": {
                        "listings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "token_id": {
                                "type": "string",
                                "description": "The token identifier"
                              },
                              "eth_value": {
                                "type": "number",
                                "description": "The equivalent ETH value"
                              },
                              "marketplace": {
                                "type": "string",
                                "description": "The marketplace name where the token was listed"
                              },
                              "listed_at": {
                                "type": "string",
                                "description": "The listing date"
                              },
                              "suspicious": {
                                "type": "boolean",
                                "description": "Whether the marketplace has flagged the token listing as suspicious"
                              }
                            }
                          }
                        },
                        "total_listings": {
                          "type": "number"
                        },
                        "collection_address": {
                          "type": "string",
                          "description": "The unique address allocated for the collection"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getMarketplaceData": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Collection Summary by Marketplace",
        "description": "Returns summary statistics for a collection by marketplace",
        "operationId": "getEthMarketplaceData",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "array",
                    "description": "Array of collection addresses",
                    "items": {
                      "type": "string",
                      "example": "0xd70f41dd5875eee7fa9dd8048567bc932124a8d2"
                    }
                  },
                  "sub_collection_tags": {
                    "type": "array",
                    "description": "Array of sub collections (e.g. Art Blocks)",
                    "items": {
                      "type": "string",
                      "example": "Fontana"
                    }
                  },
                  "normalized": {
                    "type": "boolean",
                    "description": "Return normalized data across marketplaces",
                    "example": true
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": [
                    {
                      "collection_address": "0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270",
                      "marketplaces": [
                        {
                          "marketplace": "OpenSea",
                          "updated_at": "2022-10-06T18:33:05.291",
                          "url": "opensea.io/collection/art-blocks",
                          "stats_summary": {
                            "one_hour_volume": 0,
                            "one_hour_change": 0,
                            "one_hour_sales": 0,
                            "one_hour_sales_change": 0,
                            "one_hour_average_price": 0,
                            "one_hour_difference": 0,
                            "six_hour_volume": 0,
                            "six_hour_change": 0,
                            "six_hour_sales": 0,
                            "six_hour_sales_change": 0,
                            "six_hour_average_price": 0,
                            "six_hour_difference": 0,
                            "one_day_volume": 0,
                            "one_day_change": -1,
                            "one_day_sales": 0,
                            "one_day_sales_change": 0,
                            "one_day_average_price": 0,
                            "one_day_difference": -1.503,
                            "seven_day_volume": 1.503,
                            "seven_day_change": -0.7052941176470588,
                            "seven_day_sales": 1,
                            "seven_day_average_price": 1.503,
                            "seven_day_difference": -3.5969999999999995,
                            "thirty_day_volume": 9.933,
                            "thirty_day_change": -0.3958029197080293,
                            "thirty_day_sales": 4,
                            "thirty_day_average_price": 2.48325,
                            "thirty_day_difference": -6.5070000000000014,
                            "total_volume": 1782.9105364414277,
                            "total_sales": 749,
                            "total_supply": 512,
                            "count": 512,
                            "num_owners": 250,
                            "average_price": 2.380387899120731,
                            "num_reports": 5,
                            "market_cap": 769.536,
                            "floor_price": 2.65
                          }
                        },
                        {
                          "marketplace": "X2Y2",
                          "url": "x2y2.io/collection/art-blocks",
                          "updated_at": "2022-10-13T16:17:52.046Z",
                          "stats_summary": {
                            "floor_price": 0.04
                          }
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns summary statistics for a collection by marketplace",
                      "properties": {
                        "marketplaces": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "marketplace": {
                                "type": "string",
                                "description": "The marketplace name where the stats summary was sourced"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "The last time Gallop pulled the marketplace stats summary"
                              },
                              "stats_summary": {
                                "type": "object",
                                "description": "The marketplace stats summary"
                              }
                            }
                          }
                        },
                        "collection_address": {
                          "type": "string",
                          "description": "The unique address allocated for the collection"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getMarketplaceFloorPrice": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Marketplace Floor Price by Collection",
        "description": "Returns current floor price for all collections by marketplace",
        "operationId": "getEthMarketplaceFloorPrice",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  },
                  "collection_address": {
                    "type": "array",
                    "description": "Array of collection addresses",
                    "items": {
                      "type": "string",
                      "example": "0xd70f41dd5875eee7fa9dd8048567bc932124a8d2"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 1,
                    "total_pages": 1,
                    "page": 1,
                    "collections": [
                      {
                        "collection_address": "0x8821bee2ba0df28761afff119d66390d594cd280",
                        "marketplaces": [
                          {
                            "updated_at": "2023-04-11T19:20:55.911",
                            "floor_price": 9.19,
                            "marketplace": "Blur",
                            "collection_id": "degods",
                            "eth_floor_price": 9.19,
                            "usd_floor_price": 17535.25,
                            "sub_collection_tag": ""
                          },
                          {
                            "updated_at": "2023-04-11T19:20:48.461",
                            "floor_price": 9.19,
                            "marketplace": "OpenSeaPro",
                            "collection_id": "degods",
                            "eth_floor_price": 9.19,
                            "usd_floor_price": 17535.25,
                            "sub_collection_tag": ""
                          }
                        ]
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns current floor price for all collections by marketplace",
                      "properties": {
                        "collections": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "collection_address": {
                                "type": "string",
                                "description": "The queried collection address"
                              },
                              "marketplace": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "updated_at": {
                                      "type": "string",
                                      "description": "The last time Gallop pulled the marketplace floor price"
                                    },
                                    "floor_price": {
                                      "type": "number",
                                      "description": "The ETH value of the floor price"
                                    },
                                    "marketplace": {
                                      "type": "string",
                                      "description": "The marketplace name where the floor price was pulled from"
                                    },
                                    "collection_id": {
                                      "type": "string",
                                      "description": "The marketplace specific collection identifier"
                                    },
                                    "sub_collection_tag": {
                                      "type": "string",
                                      "description": "The sub collection tag if available, e.g. ArtBlocks"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "total_items": {
                          "type": "number",
                          "description": "The total number of items that can be retrieved"
                        },
                        "total_pages": {
                          "type": "number",
                          "description": "The total number of pages that can be queried"
                        },
                        "page": {
                          "type": "number",
                          "description": "The current reported page"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getTokenTransactions": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Transactions by Token",
        "description": "Returns all transactions for a given token",
        "operationId": "getEthTokenTransactions",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address the token belongs to.",
                    "example": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb"
                  },
                  "token_id": {
                    "type": "string",
                    "description": "The token id.",
                    "example": "6000"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The earliest block timestamp in ISO 8601 format.",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "start_block_number": {
                    "type": "integer",
                    "description": "The oldest block number to return.",
                    "example": 100
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The latest block timestamp in ISO 8601 format.",
                    "example": "2023-01-01T00:00:00.000Z"
                  }
                },
                "required": [
                  "collection_address",
                  "token_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 6,
                    "total_pages": 1,
                    "page": 1,
                    "collection_address": "0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d",
                    "collection_name": "0N1 Force",
                    "transactions": [
                      {
                        "token_id": "6592",
                        "from_address": "0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8",
                        "to_address": "0x38daea6f17e4308b0da9647db9ca6d84a3a7e195",
                        "eth_value": 0.28,
                        "usd_value": 446.77,
                        "exchange": "Opensea (through GemSwap - Seaport)",
                        "block_number": 15190871,
                        "block_timestamp": "2022-07-22T06:51:58.000Z",
                        "txn_hash": "0xb5c43cbd77f137933304f6a868c2385e71024272d01dec3ecd06590cde6a0040",
                        "token_amount": 1
                      },
                      {
                        "token_id": "6592",
                        "from_address": "0x6188c2b2c93d100a6b8fdc89c2a2fcb91f5c6b3a",
                        "to_address": "0xffa7282b67f72edd50e37b68d3599aa3ff3a9fb8",
                        "eth_value": 0.2803,
                        "usd_value": 440.77,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15188831,
                        "block_timestamp": "2022-07-21T23:03:25.000Z",
                        "txn_hash": "0x7782406ecc8d0b127f05c33c7529bc96705059bb2001afd6fc4891c6fed83fa0",
                        "token_amount": 1
                      },
                      {
                        "token_id": "6592",
                        "from_address": "0x85862ddd323e215e70dd4dd161b0c9f81d402c2a",
                        "to_address": "0x6188c2b2c93d100a6b8fdc89c2a2fcb91f5c6b3a",
                        "eth_value": 0.68,
                        "usd_value": 1931.45,
                        "exchange": "Opensea",
                        "block_number": 14703310,
                        "block_timestamp": "2022-05-03T07:27:34.000Z",
                        "txn_hash": "0x1576e3ed5cb5725f3c29484c9a94be27aa7aacd11f47a014ef76d15f6081edfc",
                        "token_amount": 1
                      },
                      {
                        "token_id": "6592",
                        "from_address": "0x13b3a50f3947476eda74fe191344524e2d2d28e5",
                        "to_address": "0x85862ddd323e215e70dd4dd161b0c9f81d402c2a",
                        "eth_value": 2.8,
                        "usd_value": 9371.36,
                        "exchange": "Opensea",
                        "block_number": 14011619,
                        "block_timestamp": "2022-01-15T18:24:13.000Z",
                        "txn_hash": "0x043482303c6d0b69047eb8dfd54dc86a7cc595a0e8ad12406e21e256dae7bb0a",
                        "token_amount": 1
                      },
                      {
                        "token_id": "6592",
                        "from_address": "0xcfa66e92f4070a6d80cd45f4738afa5ab6e62519",
                        "to_address": "0x13b3a50f3947476eda74fe191344524e2d2d28e5",
                        "eth_value": 3.5,
                        "usd_value": 11727.45,
                        "exchange": "Opensea",
                        "block_number": 13258687,
                        "block_timestamp": "2021-09-19T21:40:26.000Z",
                        "txn_hash": "0xeb1308bc628c2451574d0b281366d8755706f7f8e297f6f2179ad9a05e0bc1b1",
                        "token_amount": 1
                      },
                      {
                        "token_id": "6592",
                        "from_address": "0x07c5ea539a54318780655b7a74fc379f3f37c7a6",
                        "to_address": "0xcfa66e92f4070a6d80cd45f4738afa5ab6e62519",
                        "eth_value": 0.5199,
                        "usd_value": 1661.84,
                        "exchange": "Opensea",
                        "block_number": 13061167,
                        "block_timestamp": "2021-08-20T08:55:04.000Z",
                        "txn_hash": "0x8c6ca2c88ad4d2cecfafd9baf9b9950c69a786e500dc8c03c978b238d12fb72d",
                        "token_amount": 1
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "description": "Returns all transactions for a given token",
                      "properties": {
                        "transactions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "token_id": {
                                "type": "string",
                                "description": "The token identifier"
                              },
                              "from_address": {
                                "type": "string",
                                "description": "The unique wallet address from which the token is tranferred"
                              },
                              "to_address": {
                                "type": "string",
                                "description": "The unique wallet address receiving the token"
                              },
                              "eth_value": {
                                "type": "number",
                                "description": "The equivalent ETH value"
                              },
                              "usd_value": {
                                "type": "number",
                                "description": "The equivalent USD value"
                              },
                              "exchange": {
                                "type": "string",
                                "description": "The marketplace traded and potential order contract details"
                              },
                              "block_number": {
                                "type": "number",
                                "description": "The block number on which the transaction occurred"
                              },
                              "block_timestamp": {
                                "type": "string",
                                "description": "The UTC timestamp at which the block was validated"
                              },
                              "txn_hash": {
                                "type": "string",
                                "description": "The transaction hash"
                              },
                              "token_amount": {
                                "type": "number",
                                "description": "The number of tokens that were transacted"
                              }
                            }
                          }
                        },
                        "total_items": {
                          "type": "number",
                          "description": "The total number of items that can be retrieved"
                        },
                        "total_pages": {
                          "type": "number",
                          "description": "The total number of pages that can be queried"
                        },
                        "page": {
                          "type": "number",
                          "description": "The current reported page"
                        }
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "The response status code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/eth/getTokens": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Tokens by Collection",
        "description": "Returns all tokens for a given collection",
        "operationId": "getEthTokens",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of the token collection.",
                    "example": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb"
                  },
                  "token_id": {
                    "type": "array",
                    "description": "A list of token ids.",
                    "items": {
                      "type": "string",
                      "example": "303"
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 1000,
                    "total_pages": 100,
                    "page": 1,
                    "collection_address": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb",
                    "collection_name": "CRYPTOPUNKS",
                    "tokens": [
                      {
                        "token_id": "0",
                        "token_name": "CryptoPunk 0",
                        "collection_address": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb",
                        "description": null,
                        "collection_uri": "https://larvalabs.com/",
                        "image_uri": "https://larvalabs.com/cryptopunks/details/0",
                        "attributes": [
                          {
                            "value": "Female",
                            "trait_type": "body_type"
                          },
                          {
                            "value": [
                              "Green Eye Shadow",
                              "Earring",
                              "Blonde Bob"
                            ],
                            "trait_type": "accessories"
                          }
                        ]
                      },
                      {
                        "token_id": "1",
                        "token_name": "CryptoPunk 1",
                        "collection_address": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb",
                        "description": null,
                        "collection_uri": "https://larvalabs.com/",
                        "image_uri": "https://larvalabs.com/cryptopunks/details/1",
                        "attributes": [
                          {
                            "value": "Male",
                            "trait_type": "body_type"
                          },
                          {
                            "value": [
                              "Smile",
                              "Mohawk"
                            ],
                            "trait_type": "accessories"
                          }
                        ]
                      },
                      {
                        "token_id": "2",
                        "token_name": "CryptoPunk 2",
                        "collection_address": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb",
                        "description": null,
                        "collection_uri": "https://larvalabs.com/",
                        "image_uri": "https://larvalabs.com/cryptopunks/details/2",
                        "attributes": [
                          {
                            "value": "Female",
                            "trait_type": "body_type"
                          },
                          {
                            "value": [
[...]
