{
  "openapi": "3.0.2",
  "info": {
    "title": "Analytics API",
    "description": "Sales, pricing, performance, and marketplace data, all in one place with low latency.",
    "termsOfService": "https://higallop.com/terms/",
    "contact": {
      "email": "support@higallop.com"
    },
    "license": {
      "name": "UNLICENSED"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.prod.gallop.run/v1"
    }
  ],
  "paths": {
    "/analytics/eth/getCollectionListingsOHLC": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Collection Floor Price and Listings Candlesticks",
        "description": "Returns historical floor price or more extensive open / high / floor / close candlesticks for collection listings at marketplaces at a selected time interval, as well as the number of active listings, the number of unique owners and the average age of open listings",
        "operationId": "getEthCollectionListingsOHLC",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The Ethereum contract address to identify the collection.",
                    "example": "0x7bd29408f11d2bfc23c34f18275bbf23bb716bc7"
                  },
                  "floor_only": {
                    "type": "boolean",
                    "description": "If `true`, report only historical floor prices. Otherwise, report OHFC candlesticks, number of active listings, number of unique owners and the average age of open listings.",
                    "example": true
                  },
                  "frequency": {
                    "type": "string",
                    "description": "The interval at which to return Floor prices / OHLF, e.g. `1D` for daily, `1M` for monthly etc. Must be >= `6H`",
                    "example": "1D"
                  },
                  "rept_curr": {
                    "type": "string",
                    "enum": [
                      "eth",
                      "usd"
                    ],
                    "description": "The currency to report results in",
                    "example": "eth"
                  },
                  "report_start_date": {
                    "type": "string",
                    "description": "The ISO 8601 start date/datetime to return results for",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "report_end_date": {
                    "type": "string",
                    "description": "The ISO 8601 end date/datetime to return results for",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "trait_type": {
                    "type": "string",
                    "description": "Specify if results to be reported only for certain values of this trait type",
                    "example": "shirt"
                  },
                  "trait_value": {
                    "type": "array",
                    "description": "The trait value(s) of type `trait_type` to report results for",
                    "items": {
                      "type": "string",
                      "example": "skull tee"
                    }
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the collection sales OHLC prices",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "collection_address": "0x0c2e57efddba8c768147d1fdf9176a0a6ebd5d83",
                    "response": [
                      {
                        "timestamp": "2023-01-01 00:00:00",
                        "num_active_listings": 138,
                        "num_unique_owners": 26,
                        "average_listing_age": 3311,
                        "open": {
                          "price": 0.2361,
                          "token_id": "8911",
                          "marketplace_name": "LooksRare"
                        },
                        "high": {
                          "price": 24.2069,
                          "token_id": "0",
                          "marketplace_name": "LooksRare"
                        },
                        "floor": {
                          "price": 0.2069,
                          "token_id": "9065",
                          "marketplace_name": "LooksRare"
                        },
                        "close": {
                          "price": 1.8037,
                          "token_id": "2742",
                          "marketplace_name": "LooksRare"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getCollectionPriceDiff": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Price Differentiation by Trait",
        "description": "Returns how trait differentiates price for a given collection",
        "operationId": "getEthCollectionPriceDiff",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The Ethereum contract address to identify the collection.",
                    "example": "0x7bd29408f11d2bfc23c34f18275bbf23bb716bc7"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The start timestamp in ISO 8601 format to pull data for calculations.",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The end timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "exclude_wash": {
                    "type": "boolean",
                    "description": "Exclude suspected wash transactions?",
                    "example": "true"
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the collection's price differentiation",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": [
                    {
                      "Earring": 22,
                      "Glasses": 0,
                      "Glasses Color": 4,
                      "Hair Color": 9,
                      "Hair Style": 100,
                      "Pants": 12,
                      "Pants Color": 9,
                      "Shirt": 5,
                      "Shirt Color": 19,
                      "Shoes": 17,
                      "Shoes Color": 2,
                      "Type": 34
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getCollectionSalesOHLC": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Collection Sales Price Candlesticks",
        "description": "Returns collection sales price open, high, low, close and volume at a selected time interval",
        "operationId": "getEthCollectionSalesOHLC",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The Ethereum contract address to identify the collection.",
                    "example": "0x7bd29408f11d2bfc23c34f18275bbf23bb716bc7"
                  },
                  "frequency": {
                    "type": "string",
                    "description": "The interval at which to return OHLC, e.g. `1D` for daily, `1M` for monthly etc.",
                    "example": "1D"
                  },
                  "group_by": {
                    "type": "string",
                    "description": "An attribute of the NFT to group results by.",
                    "example": "Hat"
                  },
                  "volume": {
                    "type": "boolean",
                    "description": "If 'true', response dicts contain OHLCV",
                    "example": false
                  },
                  "n_trades": {
                    "type": "boolean",
                    "description": "If 'true', append number of trades to OHLC(V)",
                    "example": false
                  },
                  "rept_curr": {
                    "type": "string",
                    "enum": [
                      "eth",
                      "usd"
                    ],
                    "description": "The currency to report results in",
                    "example": "eth"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The start timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The end timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "exclude_wash": {
                    "type": "boolean",
                    "description": "Exclude suspected wash transactions?",
                    "example": "true"
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the collection sales OHLC prices",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "collection_address": [
                      "0xb7f7f6c52f2e2fdb1963eab30438024864c313f6",
                      "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb"
                    ],
                    "ohlc": [
                      {
                        "block_timestamp": "2022-07-18 00:00:00",
                        "body_type": "Female",
                        "close": 83,
                        "high": 95,
                        "low": 83,
                        "open": 84.5
                      },
                      {
                        "block_timestamp": "2022-07-19 00:00:00",
                        "body_type": "Female",
                        "close": 83.95,
                        "high": 83.95,
                        "low": 79,
                        "open": 79
                      },
                      {
                        "block_timestamp": "2022-07-18 00:00:00",
                        "body_type": "Male",
                        "close": 105,
                        "high": 105,
                        "low": 84,
                        "open": 90
                      },
                      {
                        "block_timestamp": "2022-07-19 00:00:00",
                        "body_type": "Male",
                        "close": 90,
                        "high": 90,
                        "low": 90,
                        "open": 90
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getCollectionSummary": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Summary Statistics by Collection",
        "description": "Returns summary analytics for a given collection",
        "operationId": "getEthCollectionSummary",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of the collection.",
                    "example": "0x3f5fb35468e9834a43dca1c160c69eaae78b6360"
                  },
                  "group_by": {
                    "type": "string",
                    "description": "An attribute of the NFT.",
                    "example": "Fur"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The start timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The end timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "rept_curr": {
                    "type": "string",
                    "enum": [
                      "eth",
                      "usd"
                    ],
                    "description": "The currency to report results in",
                    "example": "eth"
                  },
                  "exclude_wash": {
                    "type": "boolean",
                    "description": "Exclude suspected wash transactions?",
                    "example": "true"
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the collection's analytical summary.",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": [
                    {
                      "avg_daily_floor_price_transacted": 0.11913347517730496,
                      "avg_daily_transaction_count": 101.68617021276596,
                      "avg_daily_volume": 68.80757258912233,
                      "gain_since_last_trough": 36.75213675213678,
                      "latest_floor_price": 0.08,
                      "latest_peak_date": "2022-02-23",
                      "latest_rolling_median": 0.46499999999999997,
                      "latest_rolling_quantile": 0.075,
                      "latest_trough_date": "2022-02-21",
                      "loss_since_last_peak": -9.909909909909908,
                      "max_daily_floor_price": 0.545,
                      "min_daily_floor_price": 2.5e-05,
                      "total_transaction_count": 19117,
                      "total_transaction_volume": 12935.823646754998
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getDailyCollectionFloor": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Daily Floor Prices by Collection",
        "description": "Returns historical floor price on a daily interval in ETH",
        "operationId": "getEthDailyCollectionFloor",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The Ethereum contract address to identify the collection.",
                    "example": "0x7bd29408f11d2bfc23c34f18275bbf23bb716bc7"
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the collection floor prices",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "collection_address": "0x0c2e57efddba8c768147d1fdf9176a0a6ebd5d83",
                    "response": [
                      {
                        "timestamp": "2023-01-01 00:00:00",
                        "floor": 0.2142
                      },
                      {
                        "timestamp": "2023-01-02 00:00:00",
                        "floor": 0.2122
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getLeaderBoard": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Ethereum Leaderboard by Collection",
        "description": "Returns top collections by volume transaction volume or sales count",
        "operationId": "getEthLeaderBoard",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  },
                  "interval": {
                    "type": "string",
                    "enum": [
                      "one_day",
                      "seven_days",
                      "thirty_days",
                      "ninety_days",
                      "all_time"
                    ],
                    "description": "The requested time interval",
                    "example": "one_day"
                  },
                  "ranking_metric": {
                    "type": "string",
                    "enum": [
                      "eth_volume",
                      "sales_count"
                    ],
                    "description": "The requested calculation metric",
                    "example": "eth_volume"
                  }
                },
                "required": [
                  "interval",
                  "ranking_metric"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 1000,
                    "total_pages": 20,
                    "page": 1,
                    "interval": "all_time",
                    "ranking_metric": "eth_volume",
                    "leaderboard": [
                      {
                        "rank": 1,
                        "collection_address": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d",
                        "collection_name": "BoredApeYachtClub",
                        "value": 893824.39,
                        "type": "ERC-721",
                        "symbol": "BAYC"
                      },
                      {
                        "rank": 2,
                        "collection_address": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb",
                        "collection_name": "CRYPTOPUNKS",
                        "value": 881880.76,
                        "type": null,
                        "symbol": "\u03fe"
                      },
                      {
                        "rank": 3,
                        "collection_address": "0x60e4d786628fea6478f785a6d7e704777c86a7c6",
                        "collection_name": "MutantApeYachtClub",
                        "value": 594921.89,
                        "type": "ERC-721",
                        "symbol": "MAYC"
                      },
                      {
                        "rank": 4,
                        "collection_address": "0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258",
                        "collection_name": "Otherdeed",
                        "value": 460918.98,
                        "type": "ERC-721",
                        "symbol": "OTHR"
                      },
                      {
                        "rank": 5,
                        "collection_address": "0xa7d8d9ef8d8ce8992df33d8b8cf4aebabd5bd270",
                        "collection_name": "Art Blocks",
                        "value": 377598.11,
                        "type": "ERC-721",
                        "symbol": "BLOCKS"
                      },
                      {
                        "rank": 6,
                        "collection_address": "0xed5af388653567af2f388e6224dc7c4b3241c544",
                        "collection_name": "Azuki",
                        "value": 341917.75,
                        "type": "ERC-721",
                        "symbol": "AZUKI"
                      },
                      {
                        "rank": 7,
                        "collection_address": "0x49cf6f5d44e70224e2e23fdcdd2c053f30ada28b",
                        "collection_name": "CloneX",
                        "value": 290730.21,
                        "type": "ERC-721",
                        "symbol": "CloneX"
                      },
                      {
                        "rank": 8,
                        "collection_address": "0x23581767a106ae21c074b2276d25e5c3e136a68b",
                        "collection_name": "Moonbirds",
                        "value": 226458.36,
                        "type": "ERC-721",
                        "symbol": "MOONBIRD"
                      },
                      {
                        "rank": 9,
                        "collection_address": "0x8a90cab2b38dba80c64b7734e58ee1db38b8992e",
                        "collection_name": "Doodles",
                        "value": 185765.51,
                        "type": "ERC-721",
                        "symbol": "DOODLE"
                      },
                      {
                        "rank": 10,
                        "collection_address": "0x7bd29408f11d2bfc23c34f18275bbf23bb716bc7",
                        "collection_name": "Meebits",
                        "value": 177549.02,
                        "type": "ERC-721",
                        "symbol": "\u2687"
                      },
                      {
                        "rank": 11,
                        "collection_address": "0xba30e5f9bb24caa003e9f2f0497ad287fdf95623",
                        "collection_name": "BoredApeKennelClub",
                        "value": 141699.65,
                        "type": "ERC-721",
                        "symbol": "BAKC"
                      },
                      {
                        "rank": 12,
                        "collection_address": "0x1a92f7381b9f03921564a437210bb9396471050c",
                        "collection_name": "Cool Cats",
                        "value": 121509.7,
                        "type": "ERC-721",
                        "symbol": "COOL"
                      },
                      {
                        "rank": 13,
                        "collection_address": "0x50f5474724e0ee42d9a4e711ccfb275809fd6d4a",
                        "collection_name": "Sandbox's LANDs",
                        "value": 110297.65,
                        "type": "ERC-721",
                        "symbol": "LAND"
                      },
                      {
                        "rank": 14,
                        "collection_address": "0xff9c1b15b16263c61d017ee9f65c50e4ae0113d7",
                        "collection_name": "Loot",
                        "value": 91489.79,
                        "type": "ERC-721",
                        "symbol": "LOOT"
                      },
                      {
                        "rank": 15,
                        "collection_address": "0x306b1ea3ecdf94ab739f1910bbda052ed4a9f949",
                        "collection_name": "Beanz",
                        "value": 89783.46,
                        "type": "ERC-721",
                        "symbol": "BEANZ"
                      },
                      {
                        "rank": 16,
                        "collection_address": "0xe785e82358879f061bc3dcac6f0444462d4b5330",
                        "collection_name": "World Of Women",
                        "value": 77541.48,
                        "type": "ERC-721",
                        "symbol": "WOW"
                      },
                      {
                        "rank": 17,
                        "collection_address": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8",
                        "collection_name": "PudgyPenguins",
                        "value": 73515.5,
                        "type": "ERC-721",
                        "symbol": "PPG"
                      },
                      {
                        "rank": 18,
                        "collection_address": "0x1cb1a5e65610aeff2551a50f76a87a7d3fb649c6",
                        "collection_name": "Cryptoadz",
                        "value": 71788.15,
                        "type": "ERC-721",
                        "symbol": "TOADZ"
                      },
                      {
                        "rank": 19,
                        "collection_address": "0x059edd72cd353df5106d2b9cc5ab83a52287ac3a",
                        "collection_name": "Art Blocks",
                        "value": 64538.77,
                        "type": "ERC-721",
                        "symbol": "BLOCKS"
                      },
                      {
                        "rank": 20,
                        "collection_address": "0x57a204aa1042f6e66dd7730813f4024114d74f37",
                        "collection_name": "CyberKongz",
                        "value": 62063.11,
                        "type": "ERC-721",
                        "symbol": "KONGZ"
                      },
                      {
                        "rank": 21,
                        "collection_address": "0xa3aee8bce55beea1951ef834b99f3ac60d1abeeb",
                        "collection_name": "VeeFriends",
                        "value": 59176.68,
                        "type": "ERC-721",
                        "symbol": "VFT"
                      },
                      {
                        "rank": 22,
                        "collection_address": "0xbce3781ae7ca1a5e050bd9c4c77369867ebc307e",
                        "collection_name": "goblintown",
                        "value": 58468.89,
                        "type": "ERC-721",
                        "symbol": "GOBLIN"
                      },
                      {
                        "rank": 23,
                        "collection_address": "0x4db1f25d3d98600140dfc18deb7515be5bd293af",
                        "collection_name": "HAPE PRIME",
                        "value": 57607.58,
                        "type": "ERC-721",
                        "symbol": "HAPE"
                      },
                      {
                        "rank": 24,
                        "collection_address": "0x160c404b2b49cbc3240055ceaee026df1e8497a0",
                        "collection_name": "projectPXN",
                        "value": 57178.91,
                        "type": "ERC-721",
                        "symbol": "GHOST"
                      },
                      {
                        "rank": 25,
                        "collection_address": "0xbd4455da5929d5639ee098abfaa3241e9ae111af",
                        "collection_name": "NFT Worlds",
                        "value": 55017.03,
                        "type": "ERC-721",
                        "symbol": "NFT Worlds"
                      },
                      {
                        "rank": 26,
                        "collection_address": "0x9c8ff314c9bc7f6e59a9d9225fb22946427edc03",
                        "collection_name": "Nouns",
                        "value": 51082.04,
                        "type": "ERC-721",
                        "symbol": "NOUN"
                      },
                      {
                        "rank": 27,
                        "collection_address": "0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d",
                        "collection_name": "0N1 Force",
                        "value": 49527.75,
                        "type": "ERC-721",
                        "symbol": "0N1"
                      },
                      {
                        "rank": 28,
                        "collection_address": "0x9a534628b4062e123ce7ee2222ec20b86e16ca8f",
                        "collection_name": "MekaVerse",
                        "value": 49089.54,
                        "type": "ERC-721",
                        "symbol": "MEKA"
                      },
                      {
                        "rank": 29,
                        "collection_address": "0x59468516a8259058bad1ca5f8f4bff190d30e066",
                        "collection_name": "Invisible Friends",
                        "value": 47762.17,
                        "type": "ERC-721",
                        "symbol": "INVSBLE"
                      },
                      {
                        "rank": 30,
                        "collection_address": "0x79fcdef22feed20eddacbb2587640e45491b757f",
                        "collection_name": "mfer",
                        "value": 46001.04,
                        "type": "ERC-721",
                        "symbol": "MFER"
                      },
                      {
                        "rank": 31,
                        "collection_address": "0xd2f668a8461d6761115daf8aeb3cdf5f40c532c6",
                        "collection_name": "Karafuru",
                        "value": 45111.59,
                        "type": "ERC-721",
                        "symbol": "KARAFURU"
                      },
                      {
                        "rank": 32,
                        "collection_address": "0x60bb1e2aa1c9acafb4d34f71585d7e959f387769",
                        "collection_name": "Art Gobblers",
                        "value": 44747.72,
                        "type": "ERC-721",
                        "symbol": "GOBBLER"
                      },
                      {
                        "rank": 33,
                        "collection_address": "0xc2c747e0f7004f9e8817db2ca4997657a7746928",
                        "collection_name": "Hashmasks",
                        "value": 41838.36,
                        "type": "ERC-721",
                        "symbol": "HM"
                      },
                      {
                        "rank": 34,
                        "collection_address": "0x341a1c534248966c4b6afad165b98daed4b964ef",
                        "collection_name": "Murakami.Flowers Seed",
                        "value": 40811.53,
                        "type": "ERC-1155",
                        "symbol": "SEED"
                      },
                      {
                        "rank": 35,
                        "collection_address": "0xccc441ac31f02cd96c153db6fd5fe0a2f4e6a68d",
                        "collection_name": "FLUF",
                        "value": 39839.97,
                        "type": "ERC-721",
                        "symbol": "FLUF"
                      },
                      {
                        "rank": 36,
                        "collection_address": "0x5cc5b05a8a13e3fbdb0bb9fccd98d38e50f90c38",
                        "collection_name": "Sandbox's LANDs",
                        "value": 38580.76,
                        "type": "ERC-721",
                        "symbol": "LAND"
                      },
                      {
                        "rank": 37,
                        "collection_address": "0x892848074ddea461a15f337250da3ce55580ca85",
                        "collection_name": "CyberBrokers",
                        "value": 37433.61,
                        "type": "ERC-721",
                        "symbol": "CYBERBROKERS"
                      },
                      {
                        "rank": 38,
                        "collection_address": "0x82c7a8f707110f5fbb16184a5933e9f78a34c6ab",
                        "collection_name": "Emblem Vault V4",
                        "value": 37318.84,
                        "type": "ERC-721",
                        "symbol": "Emblem.pro"
                      },
                      {
                        "rank": 39,
                        "collection_address": "0xb4d06d46a8285f4ec79fd294f78a881799d8ced9",
                        "collection_name": "3Landers",
                        "value": 36722.12,
                        "type": "ERC-721",
                        "symbol": "3L"
                      },
                      {
                        "rank": 40,
                        "collection_address": "0xc92ceddfb8dd984a89fb494c376f9a48b999aafc",
                        "collection_name": "Creature World",
                        "value": 35635.74,
                        "type": "ERC-721",
                        "symbol": "CREATURE"
                      },
                      {
                        "rank": 41,
                        "collection_address": "0x67d9417c9c3c250f61a83c7e8658dac487b56b09",
                        "collection_name": "Phanta Bear",
                        "value": 35191.14,
                        "type": "ERC-721",
                        "symbol": "PHB"
                      },
                      {
                        "rank": 42,
                        "collection_address": "0x7ea3cca10668b8346aec0bf1844a49e995527c8b",
                        "collection_name": "CyberKongz VX",
                        "value": 34548.88,
                        "type": "ERC-721",
                        "symbol": "KONGZ VX"
                      },
                      {
                        "rank": 43,
                        "collection_address": "0x28472a58a490c5e09a238847f66a68a47cc76f0f",
                        "collection_name": "adidas Originals: Into the Metaverse",
                        "value": 34463.89,
                        "type": "ERC-1155",
                        "symbol": "ADI"
                      },
                      {
                        "rank": 44,
                        "collection_address": "0x2acab3dea77832c09420663b0e1cb386031ba17b",
                        "collection_name": "DeadFellaz",
                        "value": 31868.21,
                        "type": "ERC-721",
                        "symbol": "DEADFELLAZ"
                      },
                      {
                        "rank": 45,
                        "collection_address": "0x282bdd42f4eb70e7a9d9f40c8fea0825b7f68c5d",
                        "collection_name": "V1 Cryptopunks (Wrapped)",
                        "value": 31812.88,
                        "type": "ERC-721",
                        "symbol": "WPV1"
                      },
                      {
                        "rank": 46,
                        "collection_address": "0x0c2e57efddba8c768147d1fdf9176a0a6ebd5d83",
                        "collection_name": "KaijuKingz",
                        "value": 31742.55,
                        "type": "ERC-721",
                        "symbol": "KAIJU"
                      },
                      {
                        "rank": 47,
                        "collection_address": "0xfe8c6d19365453d26af321d0e8c910428c23873f",
                        "collection_name": "Cold Blooded Creepz",
                        "value": 31446.45,
                        "type": "ERC-721",
                        "symbol": "CBC"
                      },
                      {
                        "rank": 48,
                        "collection_address": "0x86c10d10eca1fca9daf87a279abccabe0063f247",
                        "collection_name": "Cool Pets",
                        "value": 31428.01,
                        "type": "ERC-721",
                        "symbol": "PETS"
                      },
                      {
                        "rank": 49,
                        "collection_address": "0x8943c7bac1914c9a7aba750bf2b6b09fd21037e0",
                        "collection_name": "Lazy Lions",
                        "value": 31216.72,
                        "type": "ERC-721",
                        "symbol": "LION"
                      },
                      {
                        "rank": 50,
                        "collection_address": "0xf61f24c2d93bf2de187546b14425bf631f28d6dc",
                        "collection_name": "World Of Women Galaxy",
                        "value": 30781.83,
                        "type": "ERC-721",
                        "symbol": "WOWG"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getRarity": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Token Rarity by Collection",
        "description": "Returns rarity by token for a given collection",
        "operationId": "getEthRarity",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The Ethereum contract address to identify the collection.",
                    "example": "0x716039ab9ce2780e35450b86dc6420f22460c380"
                  },
                  "weights": {
                    "type": "object",
                    "description": "Dict containing trait keys and weight values.",
                    "properties": {},
                    "example": {
                      "Clothes": 0.1,
                      "Ears": 0.1,
                      "Eyes": 1,
                      "Head": 0.1,
                      "Mouth": 0.1,
                      "Rarity": 0.1,
                      "Trait Count": 0.1
                    }
                  },
                  "token_id": {
                    "type": "array",
                    "description": "An array of token ids.",
                    "items": {
                      "type": "string",
                      "example": "1327"
                    }
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": [
                    {
                      "token_id": "1357",
                      "token_name": "Cool Monke #1357",
                      "rarity_score": 0.0831,
                      "trait_rarity_score": {
                        "Ears": 0.0008,
                        "Eyes": 0.0221,
                        "Head": 0.0015,
                        "Mouth": 0.0221,
                        "Rarity": 0.0029,
                        "Clothes": 0.033,
                        "Overall": 0.0831,
                        "Trait Count": 0.0007
                      }
                    },
                    {
                      "token_id": "3333",
                      "token_name": "Cool Monke #3333",
                      "rarity_score": 0.1984,
                      "trait_rarity_score": {
                        "Ears": 0.0008,
                        "Eyes": 0.0221,
                        "Head": 0.0015,
                        "Mouth": 0.0387,
                        "Rarity": 0.005,
                        "Clothes": 0.1296,
                        "Overall": 0.1984,
                        "Trait Count": 0.0007
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getTokenSummary": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Summary Statistics by Token",
        "description": "Returns summary analytics for a given token",
        "operationId": "getEthTokenSummary",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of the token collection.",
                    "example": "0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb"
                  },
                  "token_id": {
                    "type": "array",
                    "description": "The id for the token.",
                    "items": {
                      "type": "string",
                      "example": "6000"
                    }
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The start timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The end timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "rept_curr": {
                    "type": "string",
                    "enum": [
                      "eth",
                      "usd"
                    ],
                    "description": "The currency to report results in",
                    "example": "eth"
                  },
                  "exclude_wash": {
                    "type": "boolean",
                    "description": "Exclude suspected wash transactions?",
                    "example": "true"
                  }
                },
                "required": [
                  "collection_address",
                  "token_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the token's analytical summary.",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": [
                    {
                      "collection_percentile": "55",
                      "currency_symbol": "ETH",
                      "latest_gross_median_spread_price": -1,
                      "latest_sale": "2021-12-10",
                      "max_date": "2022-01-27 22:47:29",
                      "max_price": 99,
                      "min_date": "2022-03-10 15:59:54",
                      "min_price": 69.99,
                      "price": 80,
                      "rolling_coll_median_price": 73,
                      "rolling_coll_median_returns": 2.31,
                      "rolling_collection_percentile_price": 75,
                      "rolling_collection_percentile_returns": 4,
                      "times_traded": 3,
                      "token_id": "6000"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getWalletPnL": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Wallet profit and loss information",
        "description": "Returns profit and loss of this wallet's NFT transactions",
        "operationId": "getEthWalletPnL",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "wallet_address": {
                    "type": "string",
                    "description": "The wallet address to search.",
                    "example": "0xab0cda4cc21207fd9433356afe9428b6fac8a8a5"
                  },
                  "rept_curr": {
                    "type": "string",
                    "enum": [
                      "eth",
                      "usd"
                    ],
                    "description": "The currency to report results in",
                    "example": "eth"
                  },
                  "include_detail": {
                    "type": "boolean",
                    "description": "Whether to include detailed profit / loss information by token",
                    "example": false
                  }
                },
                "required": [
                  "wallet_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the profit and loss balances of NFTs traded by this wallet",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "address": "0x2cbcfa87aa570d72ad7b376e729e167071f1cd33",
                    "rept_curr": "eth",
                    "pnl": 3.5718,
                    "buy_volume": 37.5382,
                    "sell_volume": 41.11,
                    "token_trades_closed": 10,
                    "tokens_held_cost_basis": 9.36,
                    "tokens_held_in_wallet": 3
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getWashTrade": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Wash Trades by Transaction",
        "description": "Returns suspected wash trades for a given transaction hash",
        "operationId": "getEthWashTrade",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transaction_hash": {
                    "type": "string",
                    "description": "The transaction hash to valildate.",
                    "example": "0x8a67b9ec06d01ebd2f8363f4a19cb6b55e3fa409877f18d5716716cce457676d"
                  }
                },
                "required": [
                  "transaction_hash"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": [
                    {
                      "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                      "collection_name": "Planets",
                      "token_id": "7",
                      "susp_wash": true,
                      "from_address": "0x566de524b2c6570f6d65bd3e65d6dfe057357305",
                      "to_address": "0x6a8fbdcd862fd48398dec9d50f2035217fe5cc0c",
                      "currency_symbol": "WETH",
                      "eth_value": 0.251,
                      "usd_value": 651.71,
                      "adj_value": 0.251,
                      "exchange": "Opensea",
                      "block_number": 14052366,
                      "block_timestamp": "2022-01-22T01:26:00.000Z",
                      "txn_hash": "0xd25867e78513bb9d8004f0482c9d69cb64a9caff815db026dc61fd19c2e6daa4",
                      "token_amount": 1
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/eth/getWashTransactions": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Wash Trades by Collection",
        "description": "Returns suspected wash trades by token for a given collection",
        "operationId": "getEthWashTransactions",
        "tags": [
          "Ethereum"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The collection address to search.",
                    "example": "0x3bf2922f4520a8ba0c2efc3d2a1539678dad5e9d"
                  },
                  "token_id": {
                    "type": "array",
                    "description": "An optional list of token ids.",
                    "items": {
                      "type": "string",
                      "example": "2334"
                    }
                  },
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 10,
                    "total_pages": 1,
                    "page": 1,
                    "transactions": [
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "5",
                        "from_address": "0x023a77d93490fc42f2de8b558068d53e884f6fe5",
                        "to_address": "0x25e526e16c260199a43094a158ffa118372edbf4",
                        "currency_symbol": "ETH",
                        "eth_value": 0.05,
                        "usd_value": 67.32,
                        "adj_value": 0.05,
                        "exchange": "Opensea - Seaport (Advanced)",
                        "block_number": 15156430,
                        "block_timestamp": "-07-16T22:29:36.000Z",
                        "txn_hash": "0x444c0591ca726568ca11aede77b2b3c22f0557ff368f4563048d378e1d235730",
                        "token_amount": 5
                      },
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "5",
                        "from_address": "0x43f778201c898eb332ab1af9ddcb4bdaa7ef8d2a",
                        "to_address": "0x25e526e16c260199a43094a158ffa118372edbf4",
                        "currency_symbol": "ETH",
                        "eth_value": 0.045,
                        "usd_value": 60.72,
                        "adj_value": 0.045,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15156140,
                        "block_timestamp": "-07-16T21:30:02.000Z",
                        "txn_hash": "0x34d76bb0e8af55b0e7184c10ed7b01c3af5287f600ce2d35ef3b31a0bf93f5bf",
                        "token_amount": 1
                      },
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "5",
                        "from_address": "0x708ed7b90dce15a1b479f27539a3801cc70d9268",
                        "to_address": "0x25e526e16c260199a43094a158ffa118372edbf4",
                        "currency_symbol": "ETH",
                        "eth_value": 0.042,
                        "usd_value": 56.3,
                        "adj_value": 0.042,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15156135,
                        "block_timestamp": "-07-16T21:28:34.000Z",
                        "txn_hash": "0x2fdc1b35555710f64f5cea4529f8cb6d5319b63a71ed49cec170facd0c753cb9",
                        "token_amount": 4
                      },
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "5",
                        "from_address": "0x708ed7b90dce15a1b479f27539a3801cc70d9268",
                        "to_address": "0x25e526e16c260199a43094a158ffa118372edbf4",
                        "currency_symbol": "ETH",
                        "eth_value": 0.042,
                        "usd_value": 56.3,
                        "adj_value": 0.042,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15156135,
                        "block_timestamp": "-07-16T21:28:34.000Z",
                        "txn_hash": "0x2fdc1b35555710f64f5cea4529f8cb6d5319b63a71ed49cec170facd0c753cb9",
                        "token_amount": 4
                      },
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "5",
                        "from_address": "0x708ed7b90dce15a1b479f27539a3801cc70d9268",
                        "to_address": "0x25e526e16c260199a43094a158ffa118372edbf4",
                        "currency_symbol": "ETH",
                        "eth_value": 0.042,
                        "usd_value": 56.3,
                        "adj_value": 0.042,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15156135,
                        "block_timestamp": "-07-16T21:28:34.000Z",
                        "txn_hash": "0x2fdc1b35555710f64f5cea4529f8cb6d5319b63a71ed49cec170facd0c753cb9",
                        "token_amount": 4
                      },
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "5",
                        "from_address": "0x708ed7b90dce15a1b479f27539a3801cc70d9268",
                        "to_address": "0x25e526e16c260199a43094a158ffa118372edbf4",
                        "currency_symbol": "ETH",
                        "eth_value": 0.042,
                        "usd_value": 56.3,
                        "adj_value": 0.042,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15156135,
                        "block_timestamp": "-07-16T21:28:34.000Z",
                        "txn_hash": "0x2fdc1b35555710f64f5cea4529f8cb6d5319b63a71ed49cec170facd0c753cb9",
                        "token_amount": 4
                      },
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "6",
                        "from_address": "0x062eed02c619fb9fd5d3bbc07a1e56f1c550d5e5",
                        "to_address": "0x6375509c420d4752ac3b61d4f286306874f92bd1",
                        "currency_symbol": "WETH",
                        "eth_value": 0.04,
                        "usd_value": 53.4,
                        "adj_value": 0.04,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15155935,
                        "block_timestamp": "-07-16T20:48:00.000Z",
                        "txn_hash": "0x6bb367573828ead2f3b1d8c4d472e13aa42a8355275b9527bc30742c114004e9",
                        "token_amount": 1
                      },
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "6",
                        "from_address": "0x25e526e16c260199a43094a158ffa118372edbf4",
                        "to_address": "0x994e55f68d5473700207608ec996b23dbcc02d6e",
                        "currency_symbol": "WETH",
                        "eth_value": 0.04,
                        "usd_value": 53.43,
                        "adj_value": 0.04,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15155721,
                        "block_timestamp": "-07-16T19:58:34.000Z",
                        "txn_hash": "0x4f4fffdd75b3f21e7d2145249c9fcb5229399134f831c89d5cd9cabd162f2be1",
                        "token_amount": 1
                      },
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "5",
                        "from_address": "0xfe4697badfe257dbd51b61e87596091a70729fbb",
                        "to_address": "0x33c850438709a05b44c002a3af461e9badefda1e",
                        "currency_symbol": "ETH",
                        "eth_value": 0.043,
                        "usd_value": 52.26,
                        "adj_value": 0.043,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15151089,
                        "block_timestamp": "-07-16T02:42:19.000Z",
                        "txn_hash": "0x6588565951c09c08b0b9dae8a6a9018029a9c4ab42f7c041f373588b14aa4bf7",
                        "token_amount": 1
                      },
                      {
                        "collection_address": "0x7deb7bce4d360ebe68278dee6054b882aa62d19c",
                        "collection_name": "Planets",
                        "token_id": "5",
                        "from_address": "0xc309339b0b10d673a9a7e198cdb21227071e92ff",
                        "to_address": "0x174a32ae4cacb9f99378a108b45449f28ed6c6dc",
                        "currency_symbol": "ETH",
                        "eth_value": 0.042,
                        "usd_value": 51.07,
                        "adj_value": 0.042,
                        "exchange": "Opensea - Seaport",
                        "block_number": 15150705,
                        "block_timestamp": "-07-16T01:19:38.000Z",
                        "txn_hash": "0x0c79e56ce6f1808cd3c7eb2f9f3ced56ed4dbc42fbfc10b1a4f7e7a90a0c6406",
                        "token_amount": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/pol/getCollectionPriceDiff": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Price Differentiation by Trait",
        "description": "Returns how trait differentiates price for a given collection",
        "operationId": "getPolCollectionPriceDiff",
        "tags": [
          "Polygon"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The Polygon contract address to identify the collection.",
                    "example": "0xad59ecb77033391e847cc96829b08beb83151088"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The start timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The end timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "exclude_wash": {
                    "type": "boolean",
                    "description": "Exclude suspected wash transactions?",
                    "example": "true"
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the collection's price differentiation",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "Trait Count": 9,
                    "Genesis Wings": 3,
                    "Genesis Head": 0,
                    "Genesis Eyes": 3,
                    "Genesis Body": 3,
                    "Genesis Beak": 3,
                    "Genesis Background": 4,
                    "Genesis Accessory": 0,
                    "Birthday": 3,
                    "Type": 52,
                    "Mutation": 12,
                    "Legendary Unique": 69,
                    "Legendary Wings": 69,
                    "Legendary Head": 72,
                    "Legendary Eyes": 72,
                    "Legendary Body": 69,
                    "Legendary Beak": 69,
                    "Legendary Background": 100,
                    "Legendary Accessory": 74,
                    "Collaboration Unique": 3,
                    "Collaboration Wings": 3,
                    "Collaboration Head": 3,
                    "Collaboration Eyes": 3,
                    "Collaboration Body": 3,
                    "Collaboration Beak": 3,
                    "Collaboration Background": 3,
                    "Collaboration Accessory": 3
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/pol/getCollectionSalesOHLC": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Collection Sales Price Candlesticks",
        "description": "Returns collection sales price open, high, low, close and volume at a selected time interval",
        "operationId": "getPolCollectionSalesOHLC",
        "tags": [
          "Polygon"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The Polygon contract address to identify the collection.",
                    "example": "0xfbe3ab0cbfbd17d06bdd73aa3f55aaf038720f59"
                  },
                  "frequency": {
                    "type": "string",
                    "description": "The interval at which to return OHLC, e.g. `1D` for daily, `1M` for monthly etc.",
                    "example": "1D"
                  },
                  "group_by": {
                    "type": "string",
                    "description": "An attribute of the NFT to group results by.",
                    "example": "Hat"
                  },
                  "volume": {
                    "type": "boolean",
                    "description": "If 'true', response dicts contain OHLCV",
                    "example": false
                  },
                  "n_trades": {
                    "type": "boolean",
                    "description": "If 'true', append number of trades to OHLC(V)",
                    "example": false
                  },
                  "rept_curr": {
                    "type": "string",
                    "enum": [
                      "eth",
                      "usd",
                      "matic"
                    ],
                    "description": "The currency to report results in",
                    "example": "eth"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The start timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The end timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "exclude_wash": {
                    "type": "boolean",
                    "description": "Exclude suspected wash transactions?",
                    "example": "true"
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the collection sales OHLC prices",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "collection_address": [
                      "0xfbe3ab0cbfbd17d06bdd73aa3f55aaf038720f59"
                    ],
                    "ohlc": [
                      {
                        "block_timestamp": "2022-11-01 00:00:00",
                        "close": 0.275,
                        "high": 0.275,
                        "low": 0.275,
                        "open": 0.275
                      },
                      {
                        "block_timestamp": "2022-11-02 00:00:00",
                        "close": null,
                        "high": null,
                        "low": null,
                        "open": null
                      },
                      {
                        "block_timestamp": "2022-11-03 00:00:00",
                        "close": 105,
                        "high": 105,
                        "low": 84,
                        "open": 90
                      },
                      {
                        "block_timestamp": "2022-07-19 00:00:00",
                        "body_type": "Male",
                        "close": 0.225,
                        "high": 0.225,
                        "low": 0.17,
                        "open": 0.17
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/pol/getCollectionSummary": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Summary Statistics by Collection",
        "description": "Returns summary analytics for a given collection",
        "operationId": "getPolCollectionSummary",
        "tags": [
          "Polygon"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The contract address of the collection.",
                    "example": "0xfbe3ab0cbfbd17d06bdd73aa3f55aaf038720f59"
                  },
                  "group_by": {
                    "type": "string",
                    "description": "An attribute of the NFT.",
                    "example": "Fur"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The start timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "end_date": {
                    "type": "string",
                    "description": "The start timestamp in ISO 8601 format to pull data for calculations",
                    "example": "2023-01-01T00:00:00.000Z"
                  },
                  "rept_curr": {
                    "type": "string",
                    "enum": [
                      "eth",
                      "usd",
                      "matic"
                    ],
                    "description": "The currency to report results in",
                    "example": "eth"
                  },
                  "exclude_wash": {
                    "type": "boolean",
                    "description": "Exclude suspected wash transactions?",
                    "example": "true"
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An object containing the collection's analytical summary.",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "avg_daily_floor_price_transacted": 444.69807219681024,
                    "avg_daily_transaction_count": 2.6333333333333333,
                    "avg_daily_volume": 1651.9336139934883,
                    "gain_since_last_trough": 206.55589585198518,
                    "latest_floor_price": 337.1106736600027,
                    "latest_peak_date": "2022-11-17",
                    "latest_rolling_5th_percentile": 363.1698305780777,
                    "latest_rolling_median": 350.1402521190402,
                    "latest_trough_date": "2022-11-14",
                    "loss_since_last_peak": -74.95768330414523,
                    "max_daily_floor_price": 1346.1640859921092,
                    "min_daily_floor_price": 109.96711471593106,
                    "total_transaction_count": 158,
                    "total_transaction_volume": 99116.01683960929
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/pol/getLeaderBoard": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Polygon Leaderboard by Collection",
        "description": "Returns top collections by volume transaction volume or sales count",
        "operationId": "getPolLeaderBoard",
        "tags": [
          "Polygon"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "description": "The pagination cursor.",
                    "example": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "enum": [
                      50,
                      100,
                      500,
                      1000
                    ],
                    "description": "The number of records returned per page.",
                    "example": 100
                  },
                  "interval": {
                    "type": "string",
                    "enum": [
                      "one_day",
                      "seven_days",
                      "thirty_days",
                      "ninety_days",
                      "all_time"
                    ],
                    "description": "The requested time interval",
                    "example": "one_day"
                  },
                  "ranking_metric": {
                    "type": "string",
                    "enum": [
                      "eth_volume",
                      "sales_count"
                    ],
                    "description": "The requested calculation metric",
                    "example": "eth_volume"
                  }
                },
                "required": [
                  "interval",
                  "ranking_metric"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": {
                    "total_items": 1000,
                    "total_pages": 20,
                    "page": 1,
                    "interval": "seven_days",
                    "ranking_metric": "eth_volume",
                    "leaderboard": [
                      {
                        "rank": 1,
                        "collection_address": "0x5c76677fea2bf5dd37e4f1460968a23a537e3ee3",
                        "collection_name": "Mocaverse Realm Ticket",
                        "value": 249.26,
                        "type": "ERC-1155",
                        "symbol": "TICKET"
                      },
                      {
                        "rank": 2,
                        "collection_address": "0x2f6fae917b6b28fb1b266bfa9236e945cd35a92f",
                        "collection_name": "Rubik's Check",
                        "value": 249.12,
                        "type": "ERC-721",
                        "symbol": "RC"
                      },
                      {
                        "rank": 3,
                        "collection_address": "0x24a11e702cd90f034ea44faf1e180c0c654ac5d9",
                        "collection_name": "Trump Digital Trading Cards",
                        "value": 184.25,
                        "type": "ERC-721",
                        "symbol": "TRUMP"
                      },
                      {
                        "rank": 4,
                        "collection_address": "0xa232f1b4b2a5b95e80d6c40eabc26f5d3409471a",
                        "collection_name": "Sewer Flask",
                        "value": 143.95,
                        "type": "ERC-721",
                        "symbol": "SF"
                      },
                      {
                        "rank": 5,
                        "collection_address": "0x929844bcd8768b01b9db1666dbcecc3428688849",
                        "collection_name": "Extra Check",
                        "value": 70.68,
                        "type": "ERC-721",
                        "symbol": "EC"
                      },
                      {
                        "rank": 6,
                        "collection_address": "0x8897e3a54a198fede22e0773ab7bae79665695e9",
                        "collection_name": "Win Trump Prizes",
                        "value": 70.33,
                        "type": "ERC-721",
                        "symbol": "TPRIZES"
                      },
                      {
                        "rank": 7,
                        "collection_address": "0x9d305a42a3975ee4c1c57555bed5919889dce63f",
                        "collection_name": "Sandbox's LANDs",
                        "value": 54.65,
                        "type": "ERC-721",
                        "symbol": "LAND"
                      },
                      {
                        "rank": 8,
                        "collection_address": "0xa604060890923ff400e8c6f5290461a83aedacec",
                        "collection_name": null,
                        "value": 37.23,
                        "type": null,
                        "symbol": null
                      },
                      {
                        "rank": 9,
                        "collection_address": "0xd86eb478e84afdfdd13ac3483cce1066ac702153",
                        "collection_name": "SWAGGA Extra",
                        "value": 35.7,
                        "type": "ERC-721",
                        "symbol": "SE"
                      },
                      {
                        "rank": 10,
                        "collection_address": "0xba6666b118f8303f990f3519df07e160227cce87",
                        "collection_name": "Planet IX - Assets",
                        "value": 35.18,
                        "type": "ERC-1155",
                        "symbol": "PIX-A"
                      },
                      {
                        "rank": 11,
                        "collection_address": "0xdb46d1dc155634fbc732f92e853b10b288ad5a1d",
                        "collection_name": "Lens Protocol Profiles",
                        "value": 32.86,
                        "type": "ERC-721",
                        "symbol": null
                      },
                      {
                        "rank": 12,
                        "collection_address": "0xa5f1ea7df861952863df2e8d1312f7305dabf215",
                        "collection_name": "ZED Horse",
                        "value": 32.37,
                        "type": "ERC-721",
                        "symbol": "ZED"
                      },
                      {
                        "rank": 13,
                        "collection_address": "0x419e82d502f598ca63d821d3bbd8dfefaf9bbc8d",
                        "collection_name": "Polygon Ape Yacht Club",
                        "value": 30.65,
                        "type": "ERC-721",
                        "symbol": "PAYC"
                      },
                      {
                        "rank": 14,
                        "collection_address": "0x64752705afccd2f9bf2e1c227b029bf458a71b25",
                        "collection_name": "fdgdfg",
                        "value": 30.5,
                        "type": "ERC-721",
                        "symbol": "dfgdfg"
                      },
                      {
                        "rank": 15,
                        "collection_address": "0x22d5f9b75c524fec1d6619787e582644cd4d7422",
                        "collection_name": "Sunflower Land Collectibles",
                        "value": 23.29,
                        "type": "ERC-1155",
                        "symbol": null
                      },
                      {
                        "rank": 16,
                        "collection_address": "0x2953399124f0cbb46d2cbacd8a89cf0599974963",
                        "collection_name": "OpenSea Collections",
                        "value": 20.36,
                        "type": "ERC-1155",
                        "symbol": "OPENSTORE"
                      },
                      {
                        "rank": 17,
                        "collection_address": "0xf7fc3049d7fe36b474b471d8ccb59e95e0d7d270",
                        "collection_name": "JapanDream Reward",
                        "value": 20.17,
                        "type": "ERC-721",
                        "symbol": "JR"
                      },
                      {
                        "rank": 18,
                        "collection_address": "0x647a263ecb8aab53ee2a1fb4a96af426c5e9d9ba",
                        "collection_name": "Shatterpoint",
                        "value": 11.34,
                        "type": "ERC-721",
                        "symbol": "shatterpoint"
                      },
                      {
                        "rank": 19,
                        "collection_address": "0xfbe3ab0cbfbd17d06bdd73aa3f55aaf038720f59",
                        "collection_name": "Voxies",
                        "value": 10.1,
                        "type": "ERC-721",
                        "symbol": "VOXIES"
                      },
                      {
                        "rank": 20,
                        "collection_address": "0x9d3aca725a289c6e798355592cd3dd5e43fa14a5",
                        "collection_name": "DerbyStarsHorse",
                        "value": 7.9,
                        "type": "ERC-721",
                        "symbol": "DSHORSE"
                      },
                      {
                        "rank": 21,
                        "collection_address": "0xc7a096b4c6610ba3a836070333ff7922b9866a36",
                        "collection_name": "GensoKishiOnline",
                        "value": 7.58,
                        "type": "ERC-721",
                        "symbol": "Genso_NFT"
                      },
                      {
                        "rank": 22,
                        "collection_address": "0x4bb5b2461e9ef782152c3a96698b2a4cf55b6162",
                        "collection_name": null,
                        "value": 6.87,
                        "type": "ERC-1155",
                        "symbol": null
                      },
                      {
                        "rank": 23,
                        "collection_address": "0x99a558bdbde247c2b2716f0d4cfb0e246dfb697d",
                        "collection_name": "Crypto Unicorns: Items Marketplace",
                        "value": 6.78,
                        "type": "ERC-1155",
                        "symbol": null
                      },
                      {
                        "rank": 24,
                        "collection_address": "0x053ba6f215ff0c8b031ef8cb0d4cf08e539ee53f",
                        "collection_name": "NewVerseContract",
                        "value": 6.7,
                        "type": "ERC-721",
                        "symbol": "NewVerseNFT"
                      },
                      {
                        "rank": 25,
                        "collection_address": "0x355dca0e68175e42fdcbdd492250d1e928345123",
                        "collection_name": "Blokpax Razz",
                        "value": 6.58,
                        "type": "ERC-1155",
                        "symbol": "RAZZ"
                      },
                      {
                        "rank": 26,
                        "collection_address": "0xb6041eae62c4591458af480679c6a497eda6cfcd",
                        "collection_name": "Cross the Ages - Arkhante Booster Premium Pack",
                        "value": 6.17,
                        "type": "ERC-1155",
                        "symbol": "CTAPRM"
                      },
                      {
                        "rank": 27,
                        "collection_address": "0x47749c5b970e63f3a0ed57cd6cef773e74fafe9d",
                        "collection_name": "Cute, Cool and Creepy x Reddit Collectible Avatars",
                        "value": 5.75,
                        "type": "ERC-1155",
                        "symbol": null
                      },
                      {
                        "rank": 28,
                        "collection_address": "0xd4d6cb5341fcab06dcefd7e6355b1cd8743ac0fc",
                        "collection_name": "Kuroro Beasts - Origins",
                        "value": 5.66,
                        "type": "ERC-721",
                        "symbol": "KBOG"
                      },
                      {
                        "rank": 29,
                        "collection_address": "0xbac7e3182bb6691f180ef91f7ae4530abb3dc08d",
                        "collection_name": "SmurfTickets",
                        "value": 5.32,
                        "type": "ERC-721",
                        "symbol": "TSST"
                      },
                      {
                        "rank": 30,
                        "collection_address": "0x95fcb7f46f1e652fdf23db087c0f24011775be00",
                        "collection_name": "Phantom Galaxies Origin Collection",
                        "value": 5.23,
                        "type": "ERC-1155",
                        "symbol": "PGOGC"
                      },
                      {
                        "rank": 31,
                        "collection_address": "0xc52d9642260830055c986a97794b7b27393edf5e",
                        "collection_name": "VeryLongAnimals",
                        "value": 5,
                        "type": "ERC-721",
                        "symbol": "VeryLongAnimals"
                      },
                      {
                        "rank": 32,
                        "collection_address": "0xa9a6a3626993d487d2dbda3173cf58ca1a9d9e9f",
                        "collection_name": "Unstoppable Domains",
                        "value": 4.9,
                        "type": "ERC-721",
                        "symbol": "UD"
                      },
                      {
                        "rank": 33,
                        "collection_address": "0x687e4d88c45eba1aefb0ace6d127d038e7235943",
                        "collection_name": "Pirate",
                        "value": 4.52,
                        "type": "ERC-721",
                        "symbol": "PIRATE"
                      },
                      {
                        "rank": 34,
                        "collection_address": "0x5fdf45a0ff4883b9f681b1800d6670d1d155811d",
                        "collection_name": "Hunters On-Chain",
                        "value": 4.33,
                        "type": "ERC-721",
                        "symbol": "hunters_on_chain"
                      },
                      {
                        "rank": 35,
                        "collection_address": "0x67f4732266c7300cca593c814d46bee72e40659f",
                        "collection_name": "ZED Horse",
                        "value": 4.16,
                        "type": "ERC-721",
                        "symbol": "ZED"
                      },
                      {
                        "rank": 36,
                        "collection_address": "0xe8ca04b6a982097bce37f1e6c1d74dc00191df87",
                        "collection_name": "OYABUN Yakuza",
                        "value": 4.09,
                        "type": "ERC-721",
                        "symbol": "OYABUN_YAKUZA"
                      },
                      {
                        "rank": 37,
                        "collection_address": "0x9d77cb4d8371736e2a2b2bfaa677b7841cdc8fc1",
                        "collection_name": "DeRace Horses",
                        "value": 3.86,
                        "type": "ERC-721",
                        "symbol": "DRCHRS"
                      },
                      {
                        "rank": 38,
                        "collection_address": "0x42b4a7db1ed930198bc37971b33e86f19ce88600",
                        "collection_name": "EGGRYPTO:Monster",
                        "value": 3.82,
                        "type": "ERC-721",
                        "symbol": "EGGRM"
                      },
                      {
                        "rank": 39,
                        "collection_address": "0x5e40037d3c0b2afa1495582431f27a83d199a6d8",
                        "collection_name": "Infinite Moments",
                        "value": 3.63,
                        "type": "ERC-1155",
                        "symbol": "MOMENTS"
                      },
                      {
                        "rank": 40,
                        "collection_address": "0x98e62fe371519d1d07e6f5bfce04737d4dacabfd",
                        "collection_name": null,
                        "value": 3.52,
                        "type": "ERC-1155",
                        "symbol": null
                      },
                      {
                        "rank": 41,
                        "collection_address": "0x3e4627665bf2e52c69be03788e664ab545f2be71",
                        "collection_name": "Spooky Season: Rojom x Reddit Collectible Avatars",
                        "value": 3.24,
                        "type": "ERC-1155",
                        "symbol": null
                      },
                      {
                        "rank": 42,
                        "collection_address": "0xa3396af20ce52bd3c7ab6d7046be617257f60eb9",
                        "collection_name": "Memetic Traders x Reddit Collectible Avatars",
                        "value": 3.2,
                        "type": "ERC-1155",
                        "symbol": null
                      },
                      {
                        "rank": 43,
                        "collection_address": "0xdc0479cc5bba033b3e7de9f178607150b3abce1f",
                        "collection_name": "Crypto Unicorns",
                        "value": 3.09,
                        "type": "ERC-721",
                        "symbol": "UNICORNS"
                      },
                      {
                        "rank": 44,
                        "collection_address": "0xefd33f6b372d08826c444ba79761782278901e10",
                        "collection_name": "OrbCity District",
                        "value": 2.98,
                        "type": "ERC-721",
                        "symbol": "OCDT"
                      },
                      {
                        "rank": 45,
                        "collection_address": "0x907808732079863886443057c65827a0f1c64357",
                        "collection_name": "Foustlings x Reddit Collectible Avatars",
                        "value": 2.93,
                        "type": "ERC-1155",
                        "symbol": null
                      },
                      {
                        "rank": 46,
                        "collection_address": "0xc7b68797297ececb7e733e5baeff284250db98c9",
                        "collection_name": "GingerMooar",
                        "value": 2.93,
                        "type": "ERC-721",
                        "symbol": "GINGER"
                      },
                      {
                        "rank": 47,
                        "collection_address": "0x57a9b65ceac6c5ee0cec8cd4571a7c3805b558d8",
                        "collection_name": null,
                        "value": 2.85,
                        "type": "ERC-1155",
                        "symbol": null
                      },
                      {
                        "rank": 48,
                        "collection_address": "0xdd649d6daceff4e504231718868d577a67feb18a",
                        "collection_name": "ICE Plague",
                        "value": 2.83,
                        "type": "ERC-721",
                        "symbol": "DCL-ICEPLG"
                      },
                      {
                        "rank": 49,
                        "collection_address": "0x8f8e18dbebb8ca4fc2bc7e3425fcdfd5264e33e8",
                        "collection_name": "Voxie Tactics Items",
                        "value": 2.77,
                        "type": "ERC-721",
                        "symbol": "VXTITEMS"
                      },
                      {
                        "rank": 50,
                        "collection_address": "0x77cd42b925e1a82f41d852d6be727cfc88fddbbc",
                        "collection_name": "GFARM2 NFT 2 ",
                        "value": 2.7,
                        "type": "ERC-721",
                        "symbol": "GFARM2NFT2"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/pol/getRarity": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Token Rarity by Collection",
        "description": "Returns rarity by token for a given collection",
        "operationId": "getPolRarity",
        "tags": [
          "Polygon"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collection_address": {
                    "type": "string",
                    "description": "The Polygon contract address to identify the collection.",
                    "example": "0xfbe3ab0cbfbd17d06bdd73aa3f55aaf038720f59"
                  },
                  "weights": {
                    "type": "object",
                    "description": "Dict containing trait keys and weight values.",
                    "properties": {},
                    "example": {
                      "Clothes": 0.1,
                      "Ears": 0.1,
                      "Eyes": 1,
                      "Head": 0.1,
                      "Mouth": 0.1,
                      "Rarity": 0.1,
                      "Trait Count": 0.1
                    }
                  },
                  "token_id": {
                    "type": "array",
                    "description": "An array of token ids.",
                    "items": {
                      "type": "string",
                      "example": "1327"
                    }
                  }
                },
                "required": [
                  "collection_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "status": 200,
                  "response": [
                    {
                      "token_id": "1357",
                      "token_name": "Cool Monke #1357",
                      "rarity_score": 0.0831,
                      "trait_rarity_score": {
                        "Ears": 0.0008,
                        "Eyes": 0.0221,
                        "Head": 0.0015,
                        "Mouth": 0.0221,
                        "Rarity": 0.0029,
                        "Clothes": 0.033,
                        "Overall": 0.0831,
                        "Trait Count": 0.0007
                      }
                    },
                    {
                      "token_id": "3333",
                      "token_name": "Cool Monke #3333",
                      "rarity_score": 0.1984,
                      "trait_rarity_score": {
                        "Ears": 0.0008,
                        "Eyes": 0.0221,
                        "Head": 0.0015,
                        "Mouth": 0.0387,
                        "Rarity": 0.005,
                        "Clothes": 0.1296,
                        "Overall": 0.1984,
                        "Trait Count": 0.0007
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/analytics/pol/getTokenSummary": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Summary Statistics by Token",
        "description": "Returns summary analytics for a given token",
        "operationId": "getPolTokenSummary",
        "tags": [
          "Polygon"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
[...]
